.breaker
{
	clear: both;
}

.home-explore-map . col-sm-12
{
	position: relative;
}
.em_map_box_mobile .header img
{
	width: 100%;
}

.col-sm-12.explore_map
{
	position: relative;
}

.regions div
{
	display: none;
	position: absolute;
	opacity: 0.75;
	z-index: 4;
	/*top: 5%;*/
}
.regions div img
{
	width: 100%;
}
.em-relative
{
	position: relative;
	display: block;
	z-index: 1;
}
.em-absolute
{
	position: absolute;
	display: block;
	top: 0px;
	left: auto;
	z-index: 2;
}
.em_map_box
{
	position: relative;
}


.em_map_box .regions .blue_region
{
	left: 1.3%;
	bottom: 0%;
	width: 36.9%;
}
.em_map_box .regions .brown_region
{
	left: 47%;
	top: 16.8%;
	width: 33.75%;
}
.em_map_box .regions .green_region
{
	right: 1.2%;
	bottom: 0%;
	width: 51.75%;
}
.em_map_box .regions .downtown_region
{
	left: 33.5%;
	top: 27.2%;
	width: 16.3%;
}

/* explore */
.explore-page.em_map_box .regions .blue_region
{
	left: 1.3%;
	bottom: 0%;
	width: 31.5%;
}
.explore-page.em_map_box .regions .brown_region
{
	left: 47%;
	top: 16.8%;
	width: 33.75%;
}
.explore-page.em_map_box .regions .green_region
{
	right: 15.5%;
	bottom: 0%;
	width: 44.2%;
}
.explore-page.em_map_box .regions .downtown_region
{
	left: 28.8%;
	top: 27.2%;
	width: 13.8%;
}

.em_homepage_action
{
	
	position: absolute;
	right: 12%;
	top: 4%;
	z-index: 5;
	width: auto;
	padding: 0;
	margin: 0;
	width: 27%;
	text-align: center;
}
.em_homepage_action img
{
	width: 100%;
	margin-bottom: 4%;
}

a.action_button
{
	clear: both;
	display: inline;
	color: #fff;
	background-color: #8e3322;
	font-size: 1.3em;
	padding: 4px 8px;
	box-shadow: 0 0 10px #888888;
}
a.action_button:hover {
	background-color: #61190c;
}
.em_map_box_mobile .absolute_center{
	top: 75%;
}
.em_map_box .absolute_center{
	top: 75%;
}

.absolute_center
{
	position: absolute;
}

.em_homepage_action a.action_button
{
	clear: both;
	display: inline;
}
.em_homepage_action a.action_button:hover {
	background-color: #61190c;
}

.em_dartboard
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.em_map_box .em_dart
{
	position: absolute;
	background-repeat: no-repeat;
	z-index: 5;
	margin-left: -15px;
	color: white;
	text-transform: uppercase;
	font-size: 0.85em;
	vertical-align: middle;
	max-width: 410px;
}

.em_map_box .em_dart .short a
{
	/*background-color: #8e3322;
	box-shadow: 0 0 1em #000;*/
	
}
.em_map_box .em_dart .short a:hover {
	/*background-color: #61190c;*/
}






.em_map_box .em_dart .short a
{
	color: white;
}

.em_map_box .em_dart .short a.straight, .em_map_box .em_dart .short .textholder a
{
	padding-right: 0.75em;
	padding-left: 0.75em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
.em_map_box .em_dart .short a.straight
{
	padding-left: 0px;
}
.em_map_box .em_dart .short a.straight img
{
	margin-right: 0.5em;
}


.em_map_box .em_dart .short .textholder
{
	position: absolute;
	
}
.em_map_box .em_dart .short .textholder a
{

}
.em_map_box .em_dart .short .textholder a
{
	margin-left: 0px;
}


.em_map_box .window_area
{
	margin-left: -5px;
	margin-top: 8px;
}

.em_map_box .em_dart a.exit, .em_map_box .window_area a.exit
{
	color: black;
	position: absolute;
	right: 0.5em;
	top: 0em;
	font-size: 15px;
	font-weight: bold;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
}
.em_map_box .em_dart .data
{
	display: none;
}
.em_map_box .em_dart .long, .em_map_box .window_area
{
	display: none;
	color: black;
	background-color: white;
	padding: 15px;
	width: 300px;
}
.em_map_box .em_dart .long h3, .em_map_box .window_area h3
{
	font-size: 1.25em;
	color: #8e3322;
	padding: 0 1em;
	margin: 0;
}

.em_map_box .em_dart .long .image, .em_map_box .window_area .image
{
	float: left;
	margin-top: 1em;
	width: 88px;
	margin-right: 10px;
}
.em_map_box .em_dart .long .image img, .em_map_box .window_area .image img
{
	width: 100%;
}

.em_map_box .em_dart .long .text, .em_map_box .window_area  .text
{
	margin-top: 1em;
}
.em_map_box .window_area .text p
{
	font-size: 0.95em;
}


.em_map_box .em_dart .long .title, .em_map_box .window_area .title
{
	text-align: center;
}

.em_map_box .em_dart .long a.learn_more, .em_map_box .window_area .learn_more
{
	color: black;
	
	text-transform: uppercase;
	font-weight: bold;
	float: right;
}
.em_map_box .window_area .learn_more img
{
	margin-bottom: 0.25em;
}

.em_map_box .em_dart
{
	display:block;
	z-index: 10;
}


.em_map_box .em_dart.fullMode
{
	display:block;
	z-index: 12;
}

.em_map_box .window_area
{
	position: absolute;
	z-index: 12;
	box-shadow: 0 0 12px #000;
}

.em_map_box .win_pos2
{
	/*top: -100px;*/
}



.regionText
{
	position: absolute;
	top: 50%;
	right: 3%;
	z-index: 5;
	background-color: #b3b0a0;
	border-radius: 1em;
	padding: 1em;
}
.explore-page .regionText
{
	top: 5%;
	left: 32%;
	right: auto;
}
.regionText h3
{
	display: none;
	text-shadow: 0 0 4px white;
	margin: 0;
}
.regionText h3.blue_region
{
	color: #548599;
}
.regionText h3.downtown_region
{
	color: #8e3322;
}
.regionText h3.brown_region
{
	color: #9f8536;
}
.regionText h3.green_region
{
	color: #5d9981;
}

/* explore page */
.explore-page .em-sidebar 
{
	position: absolute;
	width: 25%;
	height: 100%;
  margin-right: 15px;
	right: 0px;
	top: 0px;
	z-index: 4;
	
}
.em-sidebar-background
{
	opacity: 0.75;
	background-color: rgb(43, 43, 43);
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.sidebar-text
{
	position: relative;
	z-index: 2;
		padding: 0 5%;
		color: white;
}
.sidebar-text h2
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 5%;
}
.sidebar-text h3
{
	font-size: 1.35em;
	margin-top: 0;
}
.sidebar-text p
{
	font-size: 0.85em;
}
.em-sidebar-dropdown
{
	background-color: white;
	padding: 5%;
	/*width: 95%;*/
	display: none;
}
.sidebar-text .em-sidebar-dropdown , .sidebar-text .em-sidebar-dropdown a
{
	color: black;
}
.sidebar-text .category_title
{
	font-weight: normal;
	padding: 0 0 0.25em 0;
	
}
.sidebar-text .category_title li a
{
	padding-left: 0;
	
}
.em_map_box.explore-page
{
	margin-bottom: 1em;
}
.em-sidebar-dropdown ul
{
	list-style-type: none;
	padding: 0 0 0.25em 0;
}
.em-sidebar-dropdown ul li
{
	font-size: 1.35em;
}
.em-sidebar-dropdown ul li a
{
	display: block;
	text-decoration: none;
	padding-left: 0.5em;
}
.em-sidebar-dropdown ul li a:hover
{
	background-color: #444;
	color: white;
}
.em-sidebar-dropdown-rep
{
	display: block;
	background-color: white;
	margin-bottom: 1em;
}
.em-sidebar-dropdown-rep .dropdown
{
	display: block;
	color: black;
	font-size: 1.35em;
	
}
.em-sidebar-dropdown-rep .dropdown .choice
{
	display: block;
	height: 2em;
	line-height: 2em;
	margin-left: 0.5em;
	font-style: italic;
}
.em-sidebar-dropdown-rep a.dropdown:hover
{
	text-decoration: none;
}
.em-sidebar-dropdown-rep:hover
{
	background-color: #aaa;
}
.em-sidebar-dropdown-rep img
{
	border-left: 2px solid #444;
	float: right;
}

.em-sidebar-dropdown-rep
{
	height: 2.65em;
}
.em-sidebar-dropdown-rep img
{
	pointer-events: none;
	height: 100%;
}
.em-sidebar-dynamic-detail
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	height: 340px;
	overflow: auto;
}
.em-sidebar-dynamic-detail ol li a
{
	color: white;
	text-decoration: none;
}
.em-sidebar-dynamic-detail ol li a:hover, .em-sidebar-dynamic-detail ol li a.selected
{
	font-weight: bold;
	font-size: 0.9em !important;
}







.explore-page-mobile 
{
	text-transform: uppercase;
}
.explore-page-mobile .header img
{
	width: 100%;
	margin-bottom: 1em;
}

.explore-page-mobile ul.category
{
	list-style-type: none;
	padding: 0;
	font-weight: bold;
}
.explore-page-mobile ul.category>li
{
	padding: 0;
}
.explore-page-mobile ul.category ul
{
	font-weight: normal;
	list-style-type: disc;
}
.explore-page-mobile ul.listing
{
	
}


@media (max-width: 1200px) {
	.em-sidebar-dynamic-detail
	{
		height: 270px;
	}
}
@media (max-width: 992px) {
	.em-sidebar-dynamic-detail
	{
		height: 205px;
	}
}



@media (max-width: 760px) {
	
	/* mobile */
	.mobile760
	{
		display: block;
	}
	.nomobile760
	{
		display: none !important;
	}

}
@media (min-width: 760px) {
	
	/* mobile */
	.mobile760
	{
		display: none;
	}
	.nomobile760
	{
		display: block;
	} 

}
@media (max-width: 480px) {
	
	/* mobile */
	.mobile
	{
		display: block;
	}
	.nomobile
	{
		display: none !important;
	}


}
@media (min-width: 480px) {
	
	/* mobile */
	.mobile
	{
		display: none;
	}
	.nomobile
	{
		display: block;
	} 

}

