/**
 * Typography
 */

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/lato-lig.eot');
    src: url('../fonts/lato-lig.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig.woff') format('woff'),
         url('../fonts/lato-lig.ttf') format('truetype'),
         url('../fonts/lato-lig.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/lato-bol.eot');
    src: url('../fonts/lato-bol.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol.woff') format('woff'),
         url('../fonts/lato-bol.ttf') format('truetype'),
         url('../fonts/lato-bol.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/lato-bla.eot');
    src: url('../fonts/lato-bla.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bla.woff') format('woff'),
         url('../fonts/lato-bla.ttf') format('truetype'),
         url('../fonts/lato-bla.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Light';
  font-style: normal;
  src: url('../fonts/OpenSansConLight.eot');
  src: url('../fonts/OpenSansConLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansConLight.woff') format('woff'),
         url('../fonts/OpenSansConLight.ttf')  format('truetype'),
         url('../fonts/OpenSansConLight.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Open Sans Condensed Bold';
  font-style: normal;
  src: url('../fonts/OpenSansConBold.eot');
  src: url('../fonts/OpenSansConBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansConBold.woff') format('woff'),
         url('../fonts/OpenSansConBold.ttf')  format('truetype'),
         url('../fonts/OpenSansConBold.svg#svgFontName') format('svg');
}


@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}


h2 {
	  font-family: 'Open Sans Condensed Bold', sans-serif;
}

#block-views-a63456fc5587db7059db85066772748c > div > div > div:nth-child(3) > div.blog-category-mashead > div > img{
		display: none;
	}
	
.view-blog-roll > ul.pager{
	display: none;
}


/*************HEADER***************/
	

	#blog-navbar{
		margin-top: 2%;
		position: absolute;
		z-index: 500;
		min-height: 95px;
		width: 100%;
	}
	
	.blog-navbar-left{
		float:left;
		width: 70%;
	}
	
	.blog-navbar-right{
		position: relative;
		  width: 30%;
		  float: right;
	}
		.blog-navbar-right > .head-social-icons{
			width: 100%;
			margin-right: 0px;
		}
		
	.logo-container{
	
	}	
	
	#blog-logo{
	  left: 6%;
	  width: 85px;
	  height: 95px;
	  float:left		
	}	
	
		
	.blog-searchbar {
	   float: left;
	  margin-top: 3%;
	  margin-left: 3%;
	}
	
	.archive-button{
	  float: left;
	  width: 100%;
	  height: 30px;
	  max-width: 100px;
	  text-align: center;
	  background-color: rgb(00,00,00);
	  padding-top: 5px;
	  opacity: .8;
	  border: 1px solid #3A3A3A;
	  margin-top: 4%;
	  font-size: .85em;
	  

	  }
	  
	  .archive-link{
		  color: #fff; 
	  }
	  
	  .archive-button a:hover, a:focus  {
	 color: #fff !important;
	 text-decoration:none;
}
	
	#views-exposed-form-blog-search-page-1 > div > div.views-exposed-form{
		position: relative;
		
	}
	
	
	.home-link{
	padding-right: 2%;
	font-size: 1.2em;
	  color: #fff;
	  font-weight: 100;	
	}
	
	
	.blog-carousel-container { 
		position: absolute;
		left:0px;
		top: 0px;
		width:100%;
	
	}
	
	.blog-image-slide > div > img{
		width:100%;
	}
	
	
	.blog-jumbotron-container{
		width: 100%;
		height: 100%;
		max-height: 700px;
		position: relative;
	}
	.caret {
		display: none;
	}

	/*****************Homepage slide***************/
	
	
	.bigthings-logo-left{
		padding-right: 0px;
	}
	
	.big-things-right{
		padding-left: 0px;
	}
	
    div.slide-dropdown-container > ul > li.navbar-nav{
	    margin-left: 0px;
    }
	
	.Blog-dropdown-container{
	  z-index: 500;
	  position: absolute;
	  top: 185px;
	  width: 100%;
	  max-width: 800px;
	  left: 0px;
	  right: 0px;
	  margin: 0 auto;
	  padding:0px;
	}
	
	.slide-dropdown-container{
		-webkit-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.5);
		box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.5);
	}
	
	
	ul.blog-menu{
	  width: 100%;
	  height: 85px;
	  background-color:#666;
	  padding-left: 0px;
	  margin-top: 4%;
	
	 
	}
	
	.masthead-color{
		  position: absolute;
		  height: 100%;
		  width: 100%;
		  margin-top: 125px;
		  opacity: .7;

	}
	
	div.slide-dropdown-container > ul > li {
		padding-top:10px;
	}
	
	.blog-dropdown{
		width:100%;
		background-position: right center;
		background-repeat: no-repeat;
	
	}
	
	li.blog-dropdown.nav.navbar-nav{
	background-image: url('../images/blog/downarrow.png');	

	}
	
	li.blog-dropdown.nav.navbar-nav.open{
	background-image: url('../images/blog/uparrow.png');	
	
	}
	
	ul.blog-menu a{
	  color: #fff !important;
	  text-decoration: none;
	  font-size: 3em;
	   font-family: 'Open Sans Condensed Bold', sans-serif;
	  font-weight: 200;
	  display: block;
	  padding-left: 20px;
	}
	
	ul.blog-menu > li > ul.blog-links{
	  width: 100%;
	  background-color: #666;
	  margin-left: 0px;
	  padding-left: 0px;
	  position: absolute;
	  top: inherit;
	  border:none;
	   
	}
	
	
	ul.blog-menu > li > ul.blog-links li {
	width:100%;
	}
	
	ul.blog-menu > li > ul.blog-links li a {
	  font-size: 2em;
	  height: 97.1%;
	  font-family: 'Open Sans Condensed Bold', sans-serif;
	}
	
	.slide-title h1{
	  color: #fff;
	  font-weight: 200;
	  font-size: 3.5em;
	  margin-top: 0px;
	  font-family: 'Open Sans Condensed Bold', sans-serif;
	  text-transform: uppercase;
	}
	
	.clear-all{
		width: 100%;
		height: 1px;
		clear: both;
	}
	
	.carousel-inner{
		overflow: visible !important;
	}
	
	#views-bootstrap-carousel-1 > div > div > div.blog-category-mashead{
		max-height: 700px;
		height: 100%;
	}
	
	.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
		background: none;
	}
	
/**********  dropdown style colors  *************************/		
	.big-appetites {
		background: #8f4873 !important;
	}
	
	.big-secrets {
		background:#9f8433 !important;
	}
	
	.big-memories{
		background:#548497 !important;
	}
	
	.big-happenings{
		background: #961313 !important;
	}
	
	.big-adventures{
		background: #5e9b82 !important;
	}
	
/**********  category style colors  *************************/	

/********** homepage category style colors  *************************/	
	
	a[href="/blog/big-happenings"]{
		color:#961313 !important;
   	}
   	
   	a[href="/blog/big-secrets"]{
		color:#9f8433 !important;
   	}
	
	
	a[href="/blog/big-memories"]{
		color:#548497  !important;
   	}
	
	a[href="/blog/big-appetites"]{
		color:#8f4873 !important;
   	}
	
		
	a[href="/blog/big-adventures"]{
		color:#5e9b82 !important;
   	}
	
	
	  
	  #views-bootstrap-carousel-1 > div > div:nth-child(1)> div > div > div.masthead-color 	{
	  background: #8f4873;
	   }
	   
	    #views-bootstrap-carousel-1 > div > div:nth-child(2)> div > div > div.masthead-color 	{
	  background: #5e9b82 ;
	   }


		 #views-bootstrap-carousel-1 > div > div:nth-child(3)> div > div > div.masthead-color 	{
			 background: #961313 ; 
			   }
		
		
		 #views-bootstrap-carousel-1 > div > div:nth-child(4)> div > div > div.masthead-color 	{
			  	background:#548497 ;
			   }
		
		 #views-bootstrap-carousel-1 > div > div:nth-child(5)> div > div > div.masthead-color 	{
			  background:#9f8433 ;
			   }




	
/*************** archive form override ***********************/

.archive-form-item{
    background-color: #fff;
  margin-right: 5px !important;
  padding: 5px 0px !important;
  border: none;

}	
.form-item-field-blog-category-tid {
  width: 85%;
 
}

#edit-field-blog-category-tid {
	border:0px;
}
#edit-field-field-author-id-target-id{
	border:0px;
	
}

.form-item-field-field-author-id-target-id{
	  width: 50%;
}
	

 #block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div > div.slide-dropdown-container > div .form-group {
  margin-bottom: 15px;
  height: 75px;
  width: 100%;
  max-width: 500px;
  float:left;
}

#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div > div.slide-dropdown-container > div .form-group > .form-control  {
  color: #fff;
  height: 100%;
  border: none;
  font-size: 2em;
  width: 100%;

}



.blog-searchbar #search-block-form {
	  width: 225px;
	  }


   .big-happenings-archive-title{
		color:#961313 !important;
		font-weight: bold;
   	}
   	
   .big-secrets-archive-title{
		color:#9f8433 !important;
		font-weight: bold;
   	}
	
	
	.big-memories-archive-title{
		color:#548497  !important;
		font-weight: bold;
   	}
	
	.big-appetites-archive-title{
		color:#8f4873 !important;
		font-weight: bold;
   	}
	
		
	.big-adventures-archive-title{
		color:#5e9b82 !important;
		font-weight: bold;
		
   	}
	




@media screen and (max-width:767px)  {
.blog-navbar-left {
	margin-left: 1%;
}


.archive-button {
  float: left;
  width: 100%;
  max-width: 220px;
  margin-left: 5%;
  margin-top: 0px;
}

#views-exposed-form-blog-search-page-1 > div > div.views-exposed-form{
	margin-top: 0px;
		
	}
	#views-exposed-form-archives-page > div > div {
		margin-top:0px;
		
	}
	
	#views-exposed-form-archives-page > div > .views-exposed-form {
		margin-left: 2% !important; 
	}
	
	

	#edit-date-filter-value > div.form-type-select.form-item-date-filter-value-year.form-item.form-group.archive-form-item{
	  float: left;
	  width: 100%;
	  clear: both;
	  margin-top: 1%;
	}	
	
	
	#edit-date-filter-value > div.form-type-select.form-item-date-filter-value-month.form-item.form-group.archive-form-item{
	  float: left;
	  width: 100%;
	  clear: both;
	  margin-top: 1%;
	}
	
	#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div {
		top:16%;
	}
	
	#edit-field-blog-category-tid-wrapper > div > div {
		width: 100%;
	}
	#edit-date-filter-value{
		width: 100%;
	}
	
	.views-exposed-form .form-item, .views-exposed-form .form-submit{
		width: 100%;
	}
	
	.container-inline-date .form-item select{
		width: 100%;
	}
	
	 #edit-field-blog-category-tid {
	  border: 0px;
	  width: 100%;
		}
		
	#views-exposed-form-archives-page > div > .views-exposed-form > div > #edit-field-blog-category-tid-wrapper {
	  width: 100%; 
	  }	

	#views-exposed-form-archives-page > div > .views-exposed-form > div > .views-exposed-widget{
			width: 100% !important;
		}
		
	#edit-field-field-author-id-target-id-wrapper > div > div{
				width: 100%;
		}
		
	#edit-field-field-author-id-target-id {
		  border: 0px;
		  width: 100%;
		
		}
}

	/*****************   Homepage   ***************/
	
	.blog-main-container{
		width: 100% !important;
		
	}
	
	.post-wrapper {
	  position: relative;
	  min-height: 400px;
	  max-width: 620px;
	  height: 100%;
	  padding:0px;
	  margin-top: 5px;
	  overflow: hidden;
	  max-height: 400px;
	 
	
	}
		
		#block-views-blog-roll-block-3 > div > div > div.views-row-2 {
					border-left:solid #fff 5px;	
		}
		
		#block-system-main > div > div > div.views-row-2, div.views-row-3 {
			border-left:solid #fff 5px;
		} 
		
		
		#block-system-main > div > div > div.views-row-5, div.views-row-6 {
			border-left:solid #fff 5px;
		} 
		
	.recent-post-image{
	width: 100%;	
	}
	
	
	.post-wrapper > div > div > a > img {
	width:100%;
	height: 100%;
	-moz-transition:-moz-transform 0.2s ease-in; 
	-webkit-transition:-webkit-transform 0.2s ease-in; 
	-o-transition:-o-transform 0.2s ease-in;
	}
	
	.post-wrapper > div > div > a >img:hover{
		 transform: scale(1.1);
		 -moz-transform:scale(1.1); 
		-webkit-transform:scale(1.1);
		-o-transform:scale(1.1);
	}

	.recent-post-image > div > a > img{
	
	}
	
	
	.blog-post-container{
	  
	  width: 100%;
	  height: 115px;
	  position: absolute;
	  bottom: 0px;
	  background: rgba(00,00,00,.8);
	  cursor: pointer;
	   -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	}
	
	
	
	.blog-post-container:hover {
	    overflow:inherit;
	    height: 55%;
	    background: rgba(00,00,00,.7);
	    cursor: default;
	
	}
	
	.post-teaser {
	  color: #EAEAEA;
	  font-size: 1em;
	  margin-top: 0px;
	  font-weight: 400;
	  text-align: center;
	  min-height: 50px;
	}
	
	
	.blog-category{
	  text-align: center;
	  padding: 2% 0px;
	  font-size: 1.2em;
	}
	
	.blog-category a {
		font-weight: 400;
		color:#fff;
	}
	
	.blog-title{
	  text-align: center;
	  font-weight: 400;
	  color: #fff;
	  font-size: 1em;
	  text-transform: uppercase;
	
	}
	
	.blog-title a, a:visited{
		color: #ccc;
	}
	
	
	.blog-authored {
	  text-align: center;
	  padding: 1% 0px 30px 0px;
	  color: #B0B0B0;
	
	}
	
	#edit-combine, input[type="text"]:focus{
	color:#ccc;
	background-image: url('/sites/all/themes/rapidcity/images/icon_search.png');
	background-repeat:no-repeat;
	background-position: right center;
}
	
	/*****************Blog Category Page ***************/
	article{
		margin-top: 4%;
	}
	
	
	.blog-category-mashead{
		width: 100%;
		height: 100%;
		max-height: 395px;
		position: relative;
		overflow: hidden;
	}
	
	.blog-category-mashead > div > img{
		width: 100%;
		height: 100%;
		max-height: 700px;
	}
	
	#block-views-a63456fc5587db7059db85066772748c > div > div.view-content > div:nth-child(2) > div > div > img {
		display: none;
	}
	
	/************ BLOG POST PAGE ***************/
	
	.previous-post{
		width: 50%;
		float:left;
		text-align: left;
	}
	
	
	
	.next-post{
		float:right;
		width: 50%;
		text-align: right;
	}
	
	.prevarrow{
		margin-right: 1%;
	}
	
	.nextarrow{
		margin-left: 1%;
	}
	
	.previous-post a, a:active, .next-post a, a:active{
		color:#000;
	}
	.next-prev-container{
		clear: both;
		min-height: 40px;
		margin-top: 2%;
	}
	
	.addthis-container{
		  width: 100%;
		  float: right;
		  margin-bottom: 2%;
		  max-width: 217px;
	}
	
	#node-2100 h3.location-locations-header {
		display: none;
	}
	
	#node-2100 .location-locations-wrapper{
		display: none;
	}
	
	.field-name-field-blog-category{
		  margin-top: 1%;
		  font-size: 1.2em;
		  font-weight: 100;

	}
	
	.postdate-container{
	width:100%;
	min-height: 30px;
	margin: 1% 0px;
	}
	
	.authordate{
		width: auto;
		float: left;
		color: #8B8B8B;
	}
	
	.field-name-field-field-author-id{
		float:left;
		width: 25%;
	    color: #8B8B8B;
		padding-left: 5px;
	}
	
	.author-profile-hidden{
		display: none;
	}
	
	.field-name-field-sub-title{
		  margin: 3% 0px;
		  font-size: 2em;
		  font-weight: 200;
	}
	
	.field-name-field-content{
	  margin: 2% 0px;
	  font-size: 1em;
	  line-height: 1.7em;
	}
	
	.field-name-field-secondary-content{
	  margin: 2% 0px;
	  font-size: 1em;
	  line-height: 1.7em;	
	}
	
	#latest-post-wrapper > .latest-blog-category > div > div > .post-wrapper {
  max-width:32.8%;
  margin-top: 5px;
  }
  #comment-form > div > div.form-type-textfield.form-item-name.form-item.form-group > label{
	  float:left;
	  width: 100%;  
  }

  #comment-form > div > div.form-type-textfield.form-item-subject.form-item.form-group > label{
	  float:left;
	  width: 100%;
  }
  
 #node-2112 #block-system-main > div.container.col-md-12 > div > div.view.view-blog-roll.view-id-blog_roll.view-display-id-block_2.view-dom-id-e278445ebeea52774584a3197c01ef24{
	 display: none;
 }
 
 div.field.field-name-field-masthead.field-type-image.field-label-hidden {
	 clear:both;
 }
	
/************* Blog Post Page Bottom Content author block / lates blog post feed ************/	
	
	.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	}
	
	.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
	
	
	
	.recent-author-post{
	  margin: 0px 1%;
	  clear: both;
	  max-height: 350px;
	  padding-top: 2%;
	  display: inherit;
	  position: relative;
	}
	
		.recent-author-post h3 { 
			font-size: 1.5em;
			font-family: 'Open Sans Condensed Bold', sans-serif;
		}
	
	.recent-author-post > div > div > .post-wrapper{
	  max-height: 250px;
	  min-height: 250px;
	  padding: 0px;
	}
	
	.recent-author-post > div > div > div > div > span > .blog-post-container {
	width: 100%;
	}
	
	.recent-author-post > div > div > div > div > span > .blog-post-container:hover{
		height:135px;
		opacity: inherit;
			}
	
	.post-wrapper-container{
		background: url('../images/blog/rockpattern.jpg');
		background-repeat:repeat;
		margin-top: 2%;
		clear:both;
	}
	
	
	#latest-post-wrapper{
		max-width:1170px;
		margin: 0 auto;
		padding-top: 1%;
		width:100%;
	}
	
	#latest-post-wrapper h2{
		font-size: 16px;
		text-transform: uppercase;
		  font-family: 'Open Sans Condensed Bold', sans-serif;
		  padding-left: 5px;
	}
	
	
	.author-feed {
		width: 100%;
		height: 100%;
		clear: both;
		min-height: 210px;
		margin: 1% 0px;
		background: #B2A294;
		padding: 2% 0px;

	}
	
	.author-image{
	  max-width: 195px;
	  width: 15%;
	  float: left;
	  margin-left: 2%;
	  margin-right: 2%;

	}
	
	.author-image > img{
		  width: 100%;
		  max-width: 164px;
		  max-height: 164px;
		  height: 100%;
		  
	}
	
	.author-teaser > div > p {
	  padding-top: 1% !important;
	  font-size: 15px !important;
	  line-height: 20px !important;
	}
	
	.latest-blog-category {
		width: 100%;
		clear: both;
		height: 100%;
		min-height: 400px;
		margin: 1% 0px;
		padding: 0px
	}

	
	.latest-blog-category > div > div > .post-wrapper {
		padding: 0px;
		min-height: 300px;
		margin: 0px 2px;
	}
	
	.recent-post-image > div > img {
		  width: 100%;
		  min-height: 350px;
		  height: 100%;
	}
	
	.feed-wrapper .blog-title{
		font-size: 1.1em;
	}
	
	.feed-wrapper .blog-post-container:hover{
	height:115px;
	cursor: default;
	background: rgba(00,00,00,.8);
	}
	
	.comment-wrapper{
		width: 100%;
		height: 100%;
		clear:both;
		margin-top: 2%;
	}
	
	#comments{
		width: 100%;
		clear:both;
		height: 100%;
	}
	
	 #flip{
		 border: 1px solid  #cfcfcf;
		 text-align: center;
		  background-color:#F0F0F0;
		  cursor: hand;
	 }
	 
	 #flip h2{
		  font-weight: 200;
		  margin: 4px 0px;
		  color: #919191;
		  font-size: 1.5em;
	 }
	
	#panel, #flip {
	    padding: 5px;
	   

	}
	
	#panel {
	    padding: 5px;
	    display: none;
	    background: #fff;
	}
	
	.form-type-textfield.form-item-subject.form-item.form-group > input[type="text"] {
		max-width: 300px;
	}
	
	
	
	/************* author block popup ************/
	
	
	#block-views-blog-roll-block-3{

		margin: 0 auto;
	}
	
	.permalink{
		  width: 100%;
		  margin: 0 auto;
		  background: #fff;
		  padding-bottom: 4%;
		  max-width: 1170px;
		  min-height: 635px;
		  max-height: 635px;
		  overflow: hidden;
		 
	}
	
	.permalink p{
		font-size: 1.25em;
		line-height: 1.5em;
	}
	
	.field-name-field-author-name{
		font-size: 1.3em;
		font-weight: 600;
	}
	
	.field-name-field-author-title{
		  margin: 1% 0px;
		  font-size: 1.1em;

	}
	
	
	.mfp-close-btn-in .mfp-close {
	  color: #fff !important;
	  background-color: #000 !important;
	  opacity: 1 !important;
	  border-radius: 50px !important;
	  border: #fff solid 1px !important;
	}
	
	.mfp-content .mfp-close {
	  width: 30px !important;
	  height: 30px !important;
	  line-height: 30px !important;
	  position: absolute !important;
	  font-size: 18px !important;
	  top: 0px !important;
	  right: 8% ;
	}
	
	.more-link {
  text-transform: uppercase;
  font-size: .8em;
  text-align: right;
  position: absolute;
  right: 0pc;
  margin-top: -2%;
}
	
	
	/******************* archive page ***********************/
		#views-exposed-form-archives-page{
			  position: relative;
			  width: 100%;
			  background: #ccc;
			  margin-top: 2%;
			    padding: 5px 0px;
			  height: 100%;
			  height: auto;
	
		}
		
		.view-id-archives h1{
		  max-width: 1100px;
		  margin: 0 auto;
		  margin-top: 2%;
		  font-family: 'Open Sans Condensed Bold', sans-serif;

		}


		#views-exposed-form-archives-page > div > .views-exposed-form{
	    max-width: 1100px;
		margin: 0 auto;
		position: relative;

		}
		
			
		.view-id-archives >  .view-content {
		  clear: both;
		  width: 100%;
		  max-width: 1100px;
		  margin: 0 auto;
		  margin-top: 2%;	
		}
	
	#views-exposed-form-archives-page >	div > 	div >  	div >  	div >  	div >  	div >  	div >  	div >  	div .date-date {
			width:100%;
			max-width: 200px;
			margin-right: 1%;
		}

	#views-exposed-form-archives-page > div > .views-exposed-form > div > .views-exposed-widget{
			width: 25%;
		}	
		

		#views-exposed-form-archives-page > div > .views-exposed-form > div > #edit-field-blog-category-tid-wrapper{
			width: 20%;
		}	
		
		
		#views-exposed-form-archives-page > div > .views-exposed-form > div > .views-submit-button{
			  width: 12%;
			  margin-left: 15%;
		
		}	
	
	.no-results {
	  min-height: 100px;
	  margin: 0 auto;
	  font-size: 1.3em;
	  max-width: 900px;
	  margin-top: 3%;
	}
	
	.archive-column{
		border-top: 1px solid #ccc;
	}
		
		
		td.views-field.views-field-title	{
			float: left;
			border: none;
			 max-width: 500px;
			 width:100%;
		}
	
	  td.views-field.views-field-field-content	{
		  float: left;
		  border: none;
		  max-width: 500px;
		  clear: both;
		  width:100%;
		 
	  }
	  td.views-field.views-field-field-blog-category.views-align-left {
		  padding-top: 4%;
		   text-align:left;
		    text-transform: uppercase;   
		    width: 15%;
	  }
	  
	   td.views-field.views-field-created{
		 padding-top: 4%;  
		  text-align:left;
		  width: 15%;
	  } 
	  
	   td.views-field.views-field-field-field-author-id{
		 padding-top: 4%;  
		 text-align:left;
		 width: 15%;
	  }
	  
	  th.views-field{
		  text-align:left;
		  font-weight: 200;
		   text-transform: uppercase;
	  }
	  
	   th.views-field a {
	   color: #666;
	   
	   } 
	   
	  
	  th.views-field.views-field-title {
		 display: none;
		 
	  }
	  
	#edit-field-blog-category-tid{
		width: 100%;
	}
	
	#edit-field-field-author-id-target-id {
		width: 100%;
	}
	
	/************* search page************/
	 .view-blog-search {
	margin:0 auto;
	max-width: 1100px;
	margin-top:2%;
	}
	
	.blog-search-container {
		margin:1% 0px;
		border-bottom: 1px solid #E4E4E4;
	}
	#block-system-main > div > div.view-content > .blog-search-container > div.views-field.views-field-field-content{
		font-size: .9em;
		
	}
	
	#block-system-main > div > div.view-content > .blog-search-container > div.views-field.views-field-title > span > a{
		font-weight: bold;
		text-transform: uppercase;
	}
	
	#block-system-main > div > div.view-content > .blog-search-container > div.views-field.views-field-field-field-author-id {
		  font-style: italic;
		  font-size: .9em;
	}
	
	.more-link {
		margin-left: 1%;
		text-transform: uppercase;
		font-size: .8em;
	}
	
	
	#views-exposed-form-blog-search-page {
	  margin: 0 auto;
	  max-width: 1100px;
	  min-height: 50px;
	  margin-top: 2%;

	}
	
	#views-exposed-form-blog-search-page > div > div.views-exposed-form {
	position:relative;
	bottom:inherit;
	top:inherit;
	}
	
	#views-exposed-form-blog-search-page > div > div.views-exposed-form > div > #edit-combine-wrapper {
	margin-top:5px;
	}
	
	#edit-submit-blog-search {
		margin-top:0px;
		background: #8e3322;
	}
	
	
	.blog-searchbar > #views-exposed-form-blog-search-page-1 > div > div > div > div > #edit-submit-blog-search {
	display:none;
}
	/************FOOTER ***************/
	
	.footerblog{
		position:relative;
		bottom: 0px;
		width: 100%;
		clear: both;
	}
	
	
	
	
#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div {
	top: 25%;
}

div.field.field-name-body.field-type-text-with-summary.field-label-hidden{
	width: 100%;
}


div.recent-author-post > div > div > div.views-row.views-row-2.views-row-even.post-wrapper.col-md-4{
	border-left: 5px solid #fff;
}

div.container.col-md-12 > div > div > div > div.views-row.views-row-2.views-row-even.post-wrapper.col-md-4 {
	margin-left: 3px;
	margin-right: 3px;
}

	.slick-next {
  right: 25px !important;
}


@media (max-width: 1339px) {
.post-wrapper{
	min-height: 300px;
	max-height: 350px;

	}
}

@media (max-width: 1199px) {
		.mfp-content .mfp-close {
		right: 0%;
		}

	.post-wrapper{
		min-height: 300px;
		max-height: 300px;
	}


	 .Blog-dropdown-container {
		top:200px;
	}
	
	#views-bootstrap-carousel-1 > div > div > div.Blog-dropdown-container {
		top:140px;
	}
	
	div.field.field-name-body.field-type-text-with-summary.field-label-hidden{
		width: 100%;
	}
	
	.recent-author-post > div > div > .post-wrapper {

	}

	.blog-post-container:hover{
		height: 25%;
	}


}

@media (max-width: 991px) {

.mfp-content .mfp-close {
		right: 0%;
		}

#latest-post-wrapper > .latest-blog-category > div > div > .post-wrapper {
width:100%;
max-width: 100%;
  }

div.field.field-name-body.field-type-text-with-summary.field-label-hidden{
	width: 100%;
}

	.latest-blog-category > div > div > .post-wrapper {
		min-height: 400px;
	}

.post-wrapper {
	  position: relative;
	  min-height: 600px;
	  }

	.permalink .col-md-3{
	float:left;
	width: 30%;
		}
		
		.permalink .col-md-9 {
		  width: 90%;
		}

	.bigthings-logo-left{
		display: none;
	}
	
	.big-things-right{
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	
	.post-wrapper{
		max-width: 100%;
	}
	
	.blog-post-container {
		width: 100%;
		height: 120px;
	}
	
	ul.blog-menu > li > ul.blog-links {
	width: 96.7%;
	}
	
	.carousel-inner{
		overflow: inherit !important;
	}
	
	.slide-title h1{
		font-size: 2.9em;
		font-family: 'Open Sans Condensed Bold', sans-serif;
	}
	
	#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div {
		  top: 25%;
		  margin: 0 auto;
		  float: none;
		 max-width: 500px;		  
	}
	
	.Blog-dropdown-container{
		max-width: 500px;
	}
	
		 
	 .Blog-dropdown-container {
		top:200px;
	}
	
	
	#views-bootstrap-carousel-1 > div > div > div.Blog-dropdown-container {
		top:150px;
	}
	
	.permalink{
		min-height: inherit;
	}
	
	
	
	ul.blog-menu{
		height: 70px;
	}
	
	ul.blog-menu a{
		font-size: 2.2em ;
	}
		
		
	#views-exposed-form-archives-page > div > .views-exposed-form{
		margin-left: 2%;
	}	
	
	#views-exposed-form-archives-page > div > .views-exposed-form > div > .views-exposed-widget{
		width:29%;
	}
	
	#views-exposed-form-archives-page > div > .views-exposed-form > div > #edit-field-blog-category-tid-wrapper {
		width: 24%;
	}
	
	#edit-field-field-author-id-target-id-wrapper{
	width: 27% !important;
	}

	#edit-field-field-author-id-target-id {
	  width: 100%;
	  border: none;
	  }
	
	#views-exposed-form-archives-page > div > .views-exposed-form > div > .views-submit-button {
		width: 12%; 
		margin-left: 4%;
	}
	
	.recent-author-post {
	display:none;
		}
		
		
	#latest-post-wrapper > div.latest-blog-category.col-md-12 > div > div > div > div.feed-wrapper > div > div{
		width: 100%;
	}

	
	.blog-post-container:hover{
	height: 40%;
	}
	
		.slick-next {
  right: 0px !important;
}



}




@media (max-width: 767px) {

	.mfp-content .mfp-close {
		right: 0%;
		}

	.slick-next {
  right: 0px !important;
}


.post-wrapper {
	  position: relative;
	  min-height: inherit;
 }


 	.masthead-color{
		  margin-top: 50px;
	}
	
	
	.blog-category-mashead{
		max-height: 295px;
		}

	
	#views-exposed-form-archives-page > div > .views-exposed-form > div > .views-submit-button{
		margin-left: 0px;
	}

	.permalink .col-md-3{
	float:left;
	width: 30%;	
		}
		
		.permalink .col-md-9 {
		  width: 100%;
		}

	.recent-author-post {
		display: none;
	}
	
	 #latest-post-wrapper > div.latest-blog-category.col-md-12 > div > div > div > div.feed-wrapper > div > div {
	 width: 100%;
	 }

	.premalink{
		overflow: scroll;
	}

	.carousel-inner{
		overflow: inherit !important;
	}
	
	.big-things-right{
		width: 75%;
		float: none;
		margin: 0 auto;
	}

	

	#block-views-20de0ca38bd6fb737558b0f4ea031808 > div {
		max-height: 500px;
	}


	.slide-dropdown-container{
    margin: 0 auto;
	}
	
	ul.blog-menu{
	height: 55px;
	margin: 0 AUTO;
	
	}
	
	ul.blog-menu a{
		font-size: 1.5em;
	}
	
	ul.blog-menu li.blog-dropdown {
  	  width:100%;
  
	}
	
	.blog-searchbar > .region-search {
		display: inherit;
	}
	
	.blog-searchbar > div.region-search > #block-search-form > .form-search {
		width: 250px;
		
	}
	
	.bigthings-logo-left {
		display: none;
	}
	
	.slide-title h1 {
	 text-align: center;
	 font-family: 'Open Sans Condensed Bold', sans-serif;
	 }
	 
	 
	 .Blog-dropdown-container {
		top:150px;
	}
	
	
	#views-bootstrap-carousel-1 > div > div > div.Blog-dropdown-container {
		top:120px;
	}
	

	.slide-title h1 {
		font-size: 2.3em;
		font-family: 'Open Sans Condensed Bold', sans-serif;
	}
	
	ul.blog-menu > li > ul.blog-links{
		 margin-left: 0px;
	}
	
	.blog-category-mashead > div > img{
		min-height: 295px;
	}

	#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div > div.slide-dropdown-container > div .form-group {
		float:none;
		margin: 0 auto;
	}
	
	#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div {
	  top: 30%;
	  }
	  
  
			.blog-post-container:hover{
		height: 75%;
	}
	
	.next-prev-container{
		display: none;
	}

}




@media screen and (max-width:600px)  {


	.slick-next {
  right: 0px !important;
}

	.latest-blog-category > div > div > .post-wrapper {
		min-height: inherit;
	}


	.masthead-color{
		  margin-top: 70px;
	}

	#blog-logo{
		left:10px;
	}	
		
	.blog-searchbar > .region-search {
		display: inherit;
		
	}
	
	#edit-combine, input{
		max-width: 200px;
	}
	
	
	.blog-navbar-left{
		width: 100%;
	}

	.blog-searchbar{
		margin-top: 0px;
	    max-width: 200px;
	}
	
	
	.blog-searchbar > div.region-search > #block-search-form > .form-search {
		width: 250px;
		
	}
	
	.bigthings-logo-left {
		display: none;
	}
	
	.slide-title h1 {
		text-align: center;
		font-family: 'Open Sans Condensed Bold', sans-serif;
		font-size: 1.5em; 
	}
	
	
	.archive-button{
	  float: left;
	  width: 100%;
	  height: 30px;
	  margin-left: 5%;
	  max-width: 225px;
	  padding-top: 5px;
	  margin-top: 5px;
	  font-size: .85em;
	  max-width: 200px;
	  
	  }
		
	.archive-link a, a:hover{
	  color: #fff;
	 
	}
		
	
	.blog-post-container{
		width:100%;
		padding: 0px 6px;
	}
	
	#views-bootstrap-carousel-1 > div > div > div.Blog-dropdown-container {
		top:120px;
	}
	
	.Blog-dropdown-container {
		top:130px;
	}

	
	#views-exposed-form-blog-search-page-1 > div > div {
		margin-top: 3%;
	}
	
	.permalink .col-md-9 {
		  width:99%;
		}
		
	div.field.field-name-body.field-type-text-with-summary.field-label-hidden{
		width:99%;
	}	

	
	.recent-author-post {
		display: none;
	}

	 #latest-post-wrapper > div.latest-blog-category.col-md-12 > div > div > div > div.feed-wrapper > div > div {
		 width: 100%;
	 }
	.carousel-inner{
		overflow: inherit !important;
	}

	.blog-category-mashead > div > img{
		min-height: 250px;
	}


	#block-views-20de0ca38bd6fb737558b0f4ea031808 > div {
		max-height: 400px;
	}

	
	ul.blog-menu {
		height: 50px;
	}
	
	
	ul.blog-menu a {
		font-size: 1em;
	}

	ul.blog-menu > li > ul.blog-links {
		margin-left: 0px;
		clear:both;
		margin-top: 5px;
		  width: 96%;
	
	}
	
	ul.blog-menu > li > ul.blog-links li a {
		font-size: 1.025em;
		
	}
	
	.blog-title {
		font-size: 1.2em;
	}
	
	

	#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div > div.slide-dropdown-container > div .form-group {
	  margin-bottom: 15px;
	  height: 50px;
	  width: 75%;
	  margin: 0 auto;
	  float: none;
	}
	
	#block-views-a63456fc5587db7059db85066772748c > div > div.view-header > div > div.slide-dropdown-container > div .form-group > .form-control{
		font-size: 1.2em;
	}

	.blog-post-container:hover{
		height: 75%;
	}

	.author-image{
	margin-left: 4%;
	margin-right: 2%;
	width: 30%;
	}

	.displaynone{
		display: none;
	}
}


/************  END 600PX **************/

/* -------------------------------- 

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-top.cd-is-visible {
	  /* the button becomes visible */
	  visibility: visible;
	 
	}


@media only screen and (min-width: 320px) {
	.cd-top {
	  display: inline-block;
	  height: 40px;
	  width: 40px;
	  position: fixed;
	  z-index: 999999;
	  bottom: 40px;
	  right: 10px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	  /* image replacement properties */
	  overflow: hidden;
	  text-indent: 100%;
	  white-space: nowrap;
	  background: #000 url('../images/blog/cd-top-arrow.svg') no-repeat center 50%;
	  visibility: hidden;
	 
	}
	.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	 
	}
	.cd-top.cd-is-visible {
	  /* the button becomes visible */
	  visibility: visible;
	 
	}
	.cd-top.cd-fade-out {
	  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	
	}
	.no-touch .cd-top:hover {
	  background-color: #e86256;
	  opacity: 1;
	}
	 .cd-top {
	    right: 20px;
	    bottom: 20px;
	  }

	    .cd-top {
	   height: 45px;
  width: 45px;
  right: 0px;
  bottom: 100px;

	  }

}

@media only screen and (min-width: 768px) {
	 }

@media only screen and (min-width: 1024px) {
	
}


