/**
 * Typography
 */

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  src: url('../fonts/lato_light.eot');
  src: url('../fonts/lato_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato_light.woff') format('woff'),
         url('../fonts/lato_light.ttf')  format('truetype'),
         url('../fonts/lato_light.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  src: url('../fonts/lato_bold.eot');
  src: url('../fonts/lato_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato_bold.woff') format('woff'),
         url('../fonts/lato_bold.ttf')  format('truetype'),
         url('../fonts/lato_bold.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Lato Black';
  font-style: normal;
  src: url('../fonts/lato_black.eot');
  src: url('../fonts/lato_black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato_black.woff') format('woff'),
         url('../fonts/lato_black.ttf')  format('truetype'),
         url('../fonts/lato_black.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Open Sans Condensed Light';
  font-style: normal;
  src: url('../fonts/OpenSansConLight.eot');
  src: url('../fonts/OpenSansConLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansConLight.woff') format('woff'),
         url('../fonts/OpenSansConLight.ttf')  format('truetype'),
         url('../fonts/OpenSansConLight.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Open Sans Condensed Bold';
  font-style: normal;
  src: url('../fonts/OpenSansConBold.eot');
  src: url('../fonts/OpenSansConBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansConBold.woff') format('woff'),
         url('../fonts/OpenSansConBold.ttf')  format('truetype'),
         url('../fonts/OpenSansConBold.svg#svgFontName') format('svg');
}

