.mini-gallery-container {
z-index: 9999;
}

.mask {
position: fixed;
top: 0;
left: 0;
background-color: #000;
opacity: 0;
filter: alpha(opacity=0);
z-index: 100;
}

.mini-gallery-mask-bg{
z-index: 999;
  
}