/*
 * Bootstrap Navbar Overides
 **/

.navbar-nav {
	float: left !important;
	clear: left;
	position: relative;
}
.navbar-nav a {
	color: #fff;
}
.navbar-nav > li > a,
.navbar-nav li a {
	padding: 4px 10px 6px 10px;
	margin-right: 0;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;767
	max-height: 28px;
}
.secondary {
	height: 20px;
	font-size: 0.6em;
}
.secondary > li > a,
.secondary li a {
	margin: 0 0 0 10px !important;
	padding: 0 !important;
	font-family: "Helvetica", sans-serif !important;
	text-transform: none;
}
.navbar-collapse {
	padding: 0 !important;
}

@media (min-width: 768px) {
	.navbar-nav > li > a,
	.navbar-nav li a {
		margin-right: 9px;
		padding: 4px 7px 4px 15px;
	}
}
@media (min-width: 992px) {
	.navbar-nav > li > a {
		margin-right: 9px;
		padding: 4px 15px;
	}
	.secondary {
		font-size: 0.7em;
		margin-left: 5px;
	}
}
@media (min-width: 1200px) {
	.navbar-nav > li > a {
		margin-right: 20px;
	}
	.secondary {
		margin-left: 0px;
	}
	.secondary > li > a {
		padding: 0 10px 0 5px !important;
	}
}
.navbar-toggle {
	background-color: transparent;
	z-index: 20;
	float: left;
	margin-left: 10px;
	margin-top: 6px !important;
	height: 35px;
}
.navbar-toggle .icon-bar {
	background-color: #eeeeee;
	width: 30px;
	height: 3px;
}
.navbar-collapse {
	z-index: 12;
}
.caret {
	display: none;
}
.nav a {
	background-color: transparent !important;
}
.nav > li {
	position: static;
}
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: transparent;
	color: #0c285a;
}

.dropdown {
	position: static;
}
.dropdown-menu {
	width: 520px;
	padding: 6px 0;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	position: absolute;
	box-shadow: none;
	top: 26px;
	left: 0;
	z-index: 5;
}
.nav-terms {
	list-style: none;
	padding-left: 0;
}
.dropdown-menu li {
	float: left;
	color: #fff;
	background-color: transparent;
}
.dropdown-menu li a,
.nav-terms li a {
	color: #fff;
	font-size: 1em;
	margin: 0;
	padding: 2px 10px !important;
	height: 24px;
	text-transform: uppercase;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.nav-terms li a:hover,
.nav-terms li a:focus {
	background-color: transparent;
	color: #0c285a;
}
.dropdown-menu .active,
.nav-terms .active {
	background-color: transparent;
}
@media (min-width: 992px) {
	.dropdown-menu {
		width: 660px;
	}
	.dropdown-menu li a,
	.nav-terms li a {
		font-size: 1em;
	}
}
@media (min-width: 1200px) {
	.dropdown-menu {
		width: 780px;
	}
	.dropdown-menu li a,
	.nav-terms li a {
		font-size: 1.1em;
	}
}

.dropdown-bg {
	width: 100%;
	height: 0px;
	background-color: #568599;
	box-shadow: 0 0 20px #000;
	position: fixed;
	top: 50px;
	left: 0;
	opacity: 1;
	z-index: 21;
}
.admin-menu .dropdown-bg {
	top: 78px;
}


@media (max-width: 767px) {
	#navbar .secondary {
		display: none;
	}
	#navbar .nav {
		width: 100%;
		margin: 0;
		background-color: #548599 !important;
		padding: 10px 0 0 0;
	}
	#navbar .nav li  {
		width: 50%;
		float: left;
		text-align: center;
		border: 1px solid #417084;
	}
	#navbar .nav a {
		padding: 10px 0;
		background-color: #548599 !important;
	}
	#navbar .nav a.alt-colr {
		color: #685648;
		background-color: #b1a192 !important;
	}
	#navbar .dropdown-menu {
		display: none !important;
		margin-left: -500px;
	}
	#navbar .dropdown-bg {
		display: none !important;
		margin-top: -500px;
	}
}




.block-view-demo .views-field-field-image img {
  border: 1px solid #333;
}

.block-view-demo .item-list ul li {
  border-bottom: 1px solid #333;
}

.block-view-demo .views-field-title a:hover,
.block-view-demo .views-field-title a:focus {
  color: #7bb9e0;
}




/*
 * Children / Sibling Menu Block
 **/

.menu-block-2,
.menu-block-3 {
	margin-top: 16px;
}

.region-bottom-first .block-menu-block ul.nav {
	list-style: none;
	padding: 0;
}
.region-bottom-first .block-menu-block ul.nav li {
	float: left;
	padding: 0 5px;
	width: 25%;
	min-width: 120px;
	height: 80px;
	margin-bottom: 10px;
}
.region-bottom-first .block-menu-block ul.nav li a {
	color: #ddd;
	display: block;
	padding: 10px;
	height: 80px;
	background-image: url('/sites/all/themes/rapidcity/images/bg_child.jpg');
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
}
.region-bottom-first .block-menu-block ul.nav li a:hover{
	color: #fff;
	background-image: url('/sites/all/themes/rapidcity/images/bg_child_hover_2.jpg');
}
.region-bottom-first .block-menu-block ul.nav li a.active,
.region-bottom-first .block-menu-block ul.nav li a.active:hover{
	color: #ddd;
	background-image: url('/sites/all/themes/rapidcity/images/bg_child_hover.jpg');
}
@media(max-width:991px){
	.region-bottom-first .block-menu-block ul.nav li a {
		font-size: 1em;
	}
}


.president-nav {
	text-align: center;
}


.private-menu {
	list-style: none;
}