/**
 * Typography
 */

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/lato-lig.eot');
    src: url('../fonts/lato-lig.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig.woff') format('woff'),
         url('../fonts/lato-lig.ttf') format('truetype'),
         url('../fonts/lato-lig.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/lato-bol.eot');
    src: url('../fonts/lato-bol.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol.woff') format('woff'),
         url('../fonts/lato-bol.ttf') format('truetype'),
         url('../fonts/lato-bol.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/lato-bla.eot');
    src: url('../fonts/lato-bla.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bla.woff') format('woff'),
         url('../fonts/lato-bla.ttf') format('truetype'),
         url('../fonts/lato-bla.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Light';
  font-style: normal;
  src: url('../fonts/OpenSansConLight.eot');
  src: url('../fonts/OpenSansConLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansConLight.woff') format('woff'),
         url('../fonts/OpenSansConLight.ttf')  format('truetype'),
         url('../fonts/OpenSansConLight.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Open Sans Condensed Bold';
  font-style: normal;
  src: url('../fonts/OpenSansConBold.eot');
  src: url('../fonts/OpenSansConBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansConBold.woff') format('woff'),
         url('../fonts/OpenSansConBold.ttf')  format('truetype'),
         url('../fonts/OpenSansConBold.svg#svgFontName') format('svg');
}

.lato-bold {
	font-family: 'Lato Bold', sans-serif;
}
.lato-black {
	font-family: 'Lato Black', sans-serif;
}
.open-light {
	font-family: 'Open Sans Condensed Light', sans-serif;
}
.open-bold {
	font-family: 'Open Sans Condensed Bold', sans-serif;
}

::-webkit-input-placeholder { color:#6a6250; }
:-moz-placeholder { color: #6a6250; }
::-moz-placeholder { color: #6a6250; }
:-ms-input-placeholder { color: #6a6250; }

.main-container h1,
.main-container h2 {
	font-family: 'Open Sans Condensed Bold', sans-serif;
	text-transform: uppercase;
}
.main-container h1 {
	font-size: 2.4em;
	color: #000;
}
.main-container h2 {
	font-size: 2em;
}
.main-container h3 {
	font-size: 1.2em;
}
@media (max-width: 1199px) {
	.main-container h1 {
		font-size: 2.2em;
	}
	.main-container h2 {
		font-size: 1.8em;
	}
}
@media (max-width: 991px) {
	.main-container h1 {
		font-size: 2em;
	}
	.main-container h2 {
		font-size: 1.6em;
	}
	.main-container h3 {
		font-size: 1.1em;
	}
}
@media (max-width: 767px) {
	.main-container h1 {
		font-size: 1.8em;
	}
}

.main-container ul,
.main-container ol {
	padding-left: 28px;
}

/**
 * Color Schemes
 */

.masthead {
	background-color: #935a2f;
}
.masthead-wrapper {
}
.masthead-strip {
}
.subbrand-blue .masthead { background-color: #558398; }
.subbrand-blue .masthead-strip .subbrand-blue { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.subbrand-green .masthead { background-color: #5c9880; }
.subbrand-green .masthead-strip { background: rgb(92, 152, 128); /* fallback */ background: rgba(92, 152, 128, 0.8); }
.subbrand-purple .masthead { background-color: #8e4872; }
.subbrand-purple .masthead-strip { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.subbrand-red .masthead { background-color: #9d392d; }
.subbrand-red .masthead-strip { background: rgb(157, 57, 45); /* fallback */ background: rgba(157, 57, 45, 0.8); }
.subbrand-tan .masthead { background-color: #b1a193; }
.subbrand-tan .masthead-strip { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.subbrand-yellow .masthead { background-color: #9f8535; }
.subbrand-yellow .masthead-strip { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }

.logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_red.png');
}
.brand-blue .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_blue.png');
}
.brand-green .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_green.png');
}
.brand-purple .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_purple.png');
}
.brand-yellow .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_yellow.png');
}


/**
 * Layout
 */

.region-sidebar-first {
	padding: 20px 0;
}

.region-sidebar-first .block {
	margin-bottom: 20px;
}

#navbar {
	background: transparent url('/sites/all/themes/rapidcity/images/header_bg.png') top center repeat-x;
	height: 64px;
	width: 100%;
	position: fixed;
	z-index: 30 !important;
}
#navbar {
	margin-top: -50px;
}
.navbar-container {
	padding-left: 0;
	padding-right: 0;
}
.navbar-left {
	background-color: #548599;
	min-height: 50px;
	width: 62%;
	position: relative;
}
.navbar-right {
	background-color: #b2a294;
	min-height: 50px;
	width: 38%;
	position: relative;
}
.head-social-icons {
	float: right;
	display: none;
}
.quicklinks {
	float: left;
}
.signin {
	float: left;
	margin-left: 10px;
	height: 18px;
	padding: 3px 0;
	font-family: "Helvetica", sans-serif !important;
	font-size: 0.7em;
}
.signin a {
	color: #0c212a;
	text-decoration: none;
}
.signin a:hover {
	color: #000;
}
.booknow {
	float: left;
	clear: left;
	margin-left: 10px;
	padding: 5px 0 3px 0;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
}
.booknow a {
	color: #5e4c3b;
	text-decoration: none;
}
.booknow a:hover {
	color: #34271b;
}
.nearme {
	float: right;
	margin-right: 10px;
	padding: 15px 6px 10px 6px;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
}
.nearme a {
	color: #fff;
	text-decoration: none;
}
.logo {
	position: absolute;
	top: 0;
	right: 100px;
	width: 87px;
	height: 94px;
	text-indent: -9995px;
	margin: 0 !important;
	z-index: 1;
}
@media(max-width: 767px){
	.logo {
		right: 40% !important;
		width: 65px;
		height: 70px;
		background-size: 65px 70px;
	}
}
.region-search {
	float: right;
	margin-top: 10px;
}
.region-search .form-search {
	width: 95px;
}
.region-search .form-text {
	padding: 3px 8px;
	color: #000;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
	border-radius: 0;
	border: none;
	border-top: 1px #758e9c solid;
	border-left: 1px #758e9c solid;
	border-bottom: 1px #758e9c solid;
}
input[type="text"] {color:black}
input[type="text"]:focus {color:purple}

.region-search .btn {
	padding: 6px 4px;
	width: 27px;
	margin: 0 !important;
	color: #c1c1c1 !important;
	border-radius: 0;
	border: none;
	border-top: 1px #758e9c solid;
	border-right: 1px #758e9c solid;
	border-bottom: 1px #758e9c solid;
	text-indent: -9995px;
	background-image: url('/sites/all/themes/rapidcity/images/icon_search.png');
}
.region-search .form-control {
	height: 34px;
}
@media (max-width: 767px) {
	#navbar {
		background-position: top left;
		/*position: relative;*/
	}
	.navbar-left {
		background-color: transparent;
		width: 100%;
		position: absolute;
		top: 0;
	}
	.navbar-right {
		background-color: transparent;
		width: 100%;
		position: absolute;
		top: 0;
	}
	.quicklinks,
	.region-search {
		display: none;
	}
	.logo {
		right: 45%;
	}
}
@media (min-width: 992px) {
	.head-social-icons {
		display: block;
		margin-right: 4px;
	}
	.logo {
		right: 160px;
	}
	.region-search .form-search {
		width: 145px;
	}
}
@media (min-width: 1200px) {
	.head-social-icons {
		margin-right: 20px;
	}
	.logo {
		right: 220px;
	}
	.region-search .form-search {
		width: 195px;
	}
}
.nav-collapse.collapse.in {
	/*height: auto !important;*/
}


.masthead-wrapper {
	min-height: 78px;
}
.masthead-image {
}
.region-masthead {
	position: relative;
	min-height: 78px;
}
.masthead {
	margin-top: 50px;
}
.admin-menu .masthead {
	margin-top: 78px;
}
.masthead-image {
	min-height: 76px;
}
.masthead-strip {
	background: rgb(148, 91, 47); /* fallback */
	background: rgba(148, 91, 47, 0.8);
	position: relative;
	z-index: 2;
	margin-top: -76px;
	height: 76px;
}
@media (max-width: 768px) {
	.masthead-image {
		display: none;
	}
	.masthead-strip {
		margin-top: 0;
		padding-top: 34px;
		height: 110px;
		height: auto;
	}
}
.breadcrumb {
	background-color: transparent !important;
	padding: 8px 15px 2px 15px;
	margin-bottom: 0;
	font-size: 0.9em;
}
.breadcrumb a {
	color: #fff; /* fallback */
	color: rgba(255,255,255,0.6);
}
.breadcrumb a:hover {
	color: #ccc; /* fallback */
	color: rgba(200,200,200,0.7);
}
.page-header {
	color: #fff;
	margin: 0;
	padding: 0 15px;
	border: 0;
	font-family: "Open Sans Condensed Bold", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}
.views-exposed-form {
	z-index: 2;
	position: absolute;
	bottom: 0;
	right: 0;
}
@media (max-width: 767px) {
	.views-exposed-form {
		position: relative;
		margin-top: 34px;
		margin-left: 10px;
	}
	.page-header {
		font-size: 2em;
	}
}

.top-buffer {
	margin-top: 20px;
}

#block-system-main {
	padding-bottom: 20px;
}



.footer {
	background-color: #548599;
	background-image: url('/sites/all/themes/rapidcity/images/footer_ds.jpg');
	background-repeat: repeat-x;
	z-index: 1 !important;
	position: relative;
	text-align: center;
	color: #fff;
	padding-bottom: 30px;
	margin: 0;
	padding-top: 10px;
	border: 0;
}
.footer a {
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	color: #b9ced7;
	text-decoration: underline;
}
.footer .foot-social-icons {
	padding-bottom: 10px;
}
.footer .foot-social-icon {
	width: 40px;
	height: 28px;
	padding: 0 6px;
}
.languages {
	padding-bottom: 10px;
}
.footer .foot-logos {
	padding-bottom: 30px;
}
.footer .foot-logo {
	padding: 0 20px;
}
.footer-fixed {
	width: 100%;
	height: 45px;
	background-color: #000000;
	position: fixed;
	bottom: 0;
	z-index: 40;
}
.footer-fixed .foothill-left {
	background: transparent url(../images/foothills-left.png) top left no-repeat;
	width: 190px;
	height: 65px;
	margin-top: -65px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
}
.footer-fixed .foothill-right {
	background: transparent url(../images/foothills-right.png) top right no-repeat;
	width: 207px;
	height: 65px;
	margin-top: -65px;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}
.footer-fixed #block-block-3 {
	width: 100px;
}
.footer-fixed .footer-fixed-content {
	width: 520px;
	margin: 0 auto;
	padding-top: 10px;
}
.footer-fixed .footer-fixed-content section {
	display: block;
	float: left;
}
.footer-fixed .fixed-footer-link {
	display: inline;
	padding: 0 0 0 18px;
	font-family: 'Lato Bold', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
}
.footer-fixed .footer-vg {
	margin-left: 10px;
	margin-top: -20px;
}
@media (max-width: 768px) {
	.footer-fixed {
		height: 55px;
	}
	.footer-fixed .footer-fixed-content {
		width: 310px;
		text-align: center;
	}
	.footer-fixed .fixed-footer-link {
		padding: 0 0px 0 10px;
		font-size: 0.8em;
	}
	.footer-fixed .footer-vg,
	.footer-fixed .footer-arrow {
		display: none;
	}
}
.footer-fixed .fixed-footer-link a {
	text-decoration: none;
	color: #ffffff;
}
.footer-fixed .fixed-footer-link a:hover {
	color: #eeeeee;
}


/**
 * Sections
 */


.main-container {
	margin: 16px auto 0 auto;
}
.dropdown-book {
	width: 100%;
	background-color: #b2a294;
	box-shadow: 0 0 20px #000;
	position: fixed;
	top: 50px;
	left: 0;
	color: #fff;
	z-index: 20;
	display: none;
}
.bookvis {
	overflow: visible !important;
}
.admin-menu .dropdown-book {
	top: 78px;
}
#jrs_calendar_form {
	width: 700px !important;
	background-image: url('/sites/all/themes/rapidcity/images/book_room.jpg') !important;
}
.date-pick {
	padding: 4px 3px !important;
	height: 38px !important;
}
#jrs_arrival_input {
	left: 150px !important;
	width: 90px !important;
}
#jrs_departure_input {
	left: 246px !important;
	width: 90px !important;
}
#jrs_lodging_select_div {
	left: 343px !important;
	width: 110px !important;
}
#jrs_search_submit {
	right: none !important;
	left: 460px !important;
}
@media (max-width: 767px) {
	.dropdown-book {
		opacity: 0;
	}
}
@media (min-width: 992px) {
	#jrs_calendar_form {
		width: 900px !important;
		background-position: 80px 0;
	}
	#jrs_arrival_input {
		left: 230px !important;
		width: 100px !important;
	}
	#jrs_departure_input {
		left: 336px !important;
		width: 100px !important;
	}
	#jrs_lodging_select_div {
		left: 443px !important;
		width: 140px !important;
	}
	#jrs_search_submit {
		right: none !important;
		left: 600px !important;
	}
}
@media (min-width: 1200px) {
	#jrs_calendar_form {
		width: 1100px !important;
		background-position: 170px 0;
	}
	#jrs_arrival_input {
		left: 330px !important;
		width: 100px !important;
	}
	#jrs_departure_input {
		left: 446px !important;
		width: 100px !important;
	}
	#jrs_lodging_select_div {
		left: 563px !important;
		width: 180px !important;
	}
	#jrs_search_submit {
		right: none !important;
		left: 765px !important;
	}
}



.callout {
	background: #77ac97 url('/sites/all/themes/rapidcity/images/callout_bg.jpg') top center no-repeat;
	box-shadow: 0 0 10px #888888;
	width: 100%;
	padding-bottom: 20px;
}
.callout h1 {
	color: #fff;
	font-size: 1.6em;
	text-transform: uppercase;
	text-align: center;
}
@media (max-width: 767px) {
	callout h1 {
		font-size: 1.2em;
	}
}
.callout .bigthings {
	margin: 10px 0;
}
@media (max-width: 767px) {
	.callout .bigthings {
		margin: 0;
	}
}
.callout .bigthings img {
	border: 8px solid #fff;
	margin: 10px;
	box-shadow: 0 0 10px #888888;
}
.home-explore-map {
	background-color: #42413e;
}
.like-a-local {
}
.like-a-local h2 {
	color: #9f8536;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
}
.like-a-local .ranger-title {
	margin: 15px auto 5px auto;
}
.like-a-local .local-info {
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	padding: 6px;
	height: 88px;
}
.like-a-local .local-info h3 {
	font-size: 1.4em;
	margin: 0;
}
.like-a-local .local-info span {
}
.like-a-local .local-pos {
	position: relative;
}
@media (max-width:1199px) {
	.like-a-local .local-info {
		font-size: 1em;
	}
}
@media (max-width:991px) {
	.like-a-local .local-info {
		font-size: 0.8em;
	}
	.like-a-local .local-info h3 {
		font-size: 1em;
	}
	.like-a-local .local-hover {
		font-size: 1em;
	}
}
@media (max-width:767px) {
	.like-a-local .local-info {
		height: auto;
	}
}
.like-a-local .local-hover {
	font-size: 1.2em;
	font-style: italic;
	padding: 20px 10% 0 10%;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.like-a-local .local-hover a {
	color: #fff;
}
@media (max-width:767px) {
	.like-a-local .local-block {
		margin: 10px 0;
	}
	.local-info {
		float: right;
		width: 50%;
	}
	.local-pos {
		width: 50%;
	}
	.local-hover {
		display: none;
	}
}
@media (max-width:480px) {
	.like-a-local {
		font-size: 0.7em;
	}
	.like-a-local {
		font-size: 0.5em;
	}
}

.download-guide {
	margin: 24px auto;
	text-align: center;
}
.download-guide a {
	color: #fff;
	text-transform: uppercase;
	background-color: #8e3322;
	font-size: 1.4em;
	padding: 4px 8px;
	box-shadow: 0 0 10px #888888;
}
.download-guide a:hover {
	background-color: #b7513e;
	text-decoration: none;
}
@media (max-width:480px) {
	.download-guide a {
		font-size: 1.1em;
	}
}


.more-big-things,
.big-praise {
	text-align: center;
	padding: 20px 0;
	max-width: 900px;
}
.tag-your-adventures {
	text-align: center;
}
.tag-your-adventures img {
	margin: 0 auto;
}
.view-more-big-things h1,
.big-praise h1 {
	margin: 0 auto;
	display: inline-block;
}
.view-more-big-things h2,
.big-praise h2 {
	font-family: 'Lato Bold', sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
	margin: 0 0 12px 0;
}
.attachment,
.view-more-things,
.praise-testimonials {
	margin: 0 auto;
	max-width: 680px;
	clear: both;
}
.view-more-things {
	padding: 10px 0;
}
.attachment .view-more-big-things,
.view-more-things .view-more-btn,
.praise-testimonials .praise-box {
	display: block;
	text-align: center;
	float: left;
	width: 50%;
	padding: 0 20px;
}
.attachment .view-more-big-things h3 {
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.6em;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.attachment .view-more-big-things a {
	/*font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;*/
	color: #fff;
}
.attachment .view-more-big-things a:hover {
	color: #fff;
}
.line-bottom {
	padding-bottom: 4px;
	border-bottom: 1px solid #fff;
}


.view-listing-categories .cat-row {
	display: inline;
	position: relative;
	min-height: 1px;
	width: 25%;
	/*max-width: 540px;*/
	float: left;
	text-align: center;
	margin-bottom: 30px;
	padding: 0 15px;
	height: auto;
}
.view-listing-categories .row-2,
.view-listing-categories .row-3 {
	clear: both;
}
.view-listing-categories .cat-row .col-first {
	clear: both;
}
.view-listing-categories .cat-row .views-field-name {
	padding: 0 15px;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.view-listing-categories .cat-row .views-field-name span {
	display: block;
	width: 100%;
	height: 100%;
}
.view-listing-categories .cat-row .views-field-name a {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	display: block;
	width: 100%;
	padding: 20px 0;
	background: rgb(93, 153, 129); /* fallback */
	background: rgba(93, 153, 129, 0.8);
}
.view-listing-categories .row-1 .col-1 .views-field-name a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.view-listing-categories .row-1 .col-2 .views-field-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-listing-categories .row-1 .col-3 .views-field-name a { background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8); }
.view-listing-categories .row-1 .col-4 .views-field-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-listing-categories .row-1 .col-5 .views-field-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-listing-categories .row-2 .col-1 .views-field-name a { background: rgb(157, 57, 45); /* fallback */ background: rgba(157, 57, 45, 0.8); }
.view-listing-categories .row-2 .col-2 .views-field-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-listing-categories .row-2 .col-3 .views-field-name a { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }
.view-listing-categories .row-2 .col-4 .views-field-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-listing-categories .row-2 .col-5 .views-field-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-listing-categories .row-3 .col-1 .views-field-name a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.view-listing-categories .row-3 .col-2 .views-field-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-listing-categories .row-3 .col-3 .views-field-name a { background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8); }
.view-listing-categories .row-3 .col-4 .views-field-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-listing-categories .row-3 .col-5 .views-field-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-listing-categories .row-4 .col-1 .views-field-name a { background: rgb(157, 57, 45); /* fallback */ background: rgba(157, 57, 45, 0.8); }
.view-listing-categories .row-4 .col-2 .views-field-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-listing-categories .row-4 .col-3 .views-field-name a { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }
.view-listing-categories .row-4 .col-4 .views-field-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-listing-categories .row-4 .col-5 .views-field-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-listing-categories .cat-row:hover .views-field-name span a {
	background: rgba(93, 153, 129, 1);
	text-decoration: none;
}
.view-listing-categories .row-1 .col-1:hover .views-field-name a { background: rgba(93, 153, 129, 1); }
.view-listing-categories .row-1 .col-2:hover .views-field-name a { background: rgba(85, 131, 152, 1); }
.view-listing-categories .row-1 .col-3:hover .views-field-name a { background: rgba(147, 90, 47, 1); }
.view-listing-categories .row-1 .col-4:hover .views-field-name a { background: rgba(177, 161, 147, 1); }
.view-listing-categories .row-1 .col-5:hover .views-field-name a { background: rgba(142, 72, 114, 1); }
.view-listing-categories .row-2 .col-1:hover .views-field-name a { background: rgba(157, 57, 45, 1); }
.view-listing-categories .row-2 .col-2:hover .views-field-name a { background: rgba(142, 72, 114, 1); }
.view-listing-categories .row-2 .col-3:hover .views-field-name a { background: rgba(159, 133, 53, 1); }
.view-listing-categories .row-2 .col-4:hover .views-field-name a { background: rgba(177, 161, 147, 1); }
.view-listing-categories .row-2 .col-5:hover .views-field-name a { background: rgba(85, 131, 152, 1); }
.view-listing-categories .row-3 .col-1:hover .views-field-name a { background: rgba(93, 153, 129, 1); }
.view-listing-categories .row-3 .col-2:hover .views-field-name a { background: rgba(85, 131, 152, 1); }
.view-listing-categories .row-3 .col-3:hover .views-field-name a { background: rgba(147, 90, 47, 1); }
.view-listing-categories .row-3 .col-4:hover .views-field-name a { background: rgba(177, 161, 147, 1); }
.view-listing-categories .row-3 .col-5:hover .views-field-name a { background: rgba(142, 72, 114, 1); }
.view-listing-categories .row-4 .col-1:hover .views-field-name a { background: rgba(157, 57, 45, 1); }
.view-listing-categories .row-4 .col-2:hover .views-field-name a { background: rgba(142, 72, 114, 1); }
.view-listing-categories .row-4 .col-3:hover .views-field-name a { background: rgba(159, 133, 53, 1); }
.view-listing-categories .row-4 .col-4:hover .views-field-name a { background: rgba(177, 161, 147, 1); }
.view-listing-categories .row-4 .col-5:hover .views-field-name a { background: rgba(85, 131, 152, 1); }
.view-listing-categories .cat-row .views-field-field-cat-image a {
	display: block;
	width: 100%;
	height: 100%;
}
.view-listing-categories .cat-row .views-field-field-cat-image img {
	max-width: 100%;
	height: auto;
}
.view-listing-categories .row-1 .col-1,
.view-listing-categories .row-2 .col-3,
.view-listing-categories .row-4 .col-5 {
	width: 50%;
}
.view-listing-categories .row-2 .col-2,
.view-listing-categories .row-4 .col-2 {
	clear: left;
}
.view-listing-categories .row-2 .col-3,
.view-listing-categories .row-2 .col-4,
.view-listing-categories .row-4 .col-3,
.view-listing-categories .row-4 .col-5{
	margin-top: -180px;
}


	#block-block-35 .view-listing-categories .row-2 .col-3,
	#block-block-35 .view-listing-categories .row-2 .col-4,
	#block-block-35 .view-listing-categories .row-4 .col-3,
	#block-block-35 .view-listing-categories .row-4 .col-5 {
		margin-top: 0px;
	}

.view-listing-categories .row-4 .col-3{
	margin-bottom: 0px;
	}


@media(max-width:767px){
	.view-listing-categories .cat-row {
		width: 50%;
		margin-bottom: 10px;
		padding: 0 5px;
	}
	.view-listing-categories .row-1 .col-1,
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-4 .col-5{
		width: 100%;
	}
	.view-listing-categories .cat-row .views-field-name {
		padding: 0 5px;
	}
	.view-listing-categories .row-2 .col-2,
	.view-listing-categories .row-4 .col-2 {
		clear: none;
	}
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4,
	.view-listing-categories .row-4 .col-3,
	.view-listing-categories .row-4 .col-5{
		margin-top: 0px;
	}

}
@media(min-width:767px){
	#block-block-35 .view-listing-categories .row-2 .col-3,
	#block-block-35 .view-listing-categories .row-2 .col-4,
	#block-block-35 .view-listing-categories .row-4 .col-3,
	#block-block-35 .view-listing-categories .row-4 .col-5 {
		margin-top: -133px !important;
	}
}

@media(min-width:992px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4,
	.view-listing-categories .row-4 .col-3,
	.view-listing-categories .row-4 .col-5 {
		margin-top: -235px;
	}

	#block-block-35 .view-listing-categories .row-4 .col-1{
		clear:both;
	}

	#block-block-35 .view-listing-categories .row-2 .col-3,
	#block-block-35 .view-listing-categories .row-2 .col-4,
	#block-block-35 .view-listing-categories .row-4 .col-3,
	#block-block-35 .view-listing-categories .row-4 .col-5 {
		margin-top: -174px !important;
	}


	.view-listing-categories .cat-row .views-field-name a {
		font-size: 1.5em;
	}

}
@media(min-width:1200px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4,
	.view-listing-categories .row-4 .col-3,
	.view-listing-categories .row-4 .col-5 {
		margin-top: -285px;
	}

	#block-block-35 .view-listing-categories .row-2 .col-3,
	#block-block-35 .view-listing-categories .row-2 .col-4,
	#block-block-35 .view-listing-categories .row-4 .col-3,
	#block-block-35 .view-listing-categories .row-4 .col-5 {
		margin-top: -215px !important;
	}
	.view-listing-categories .cat-row .views-field-name a {
		font-size: 1.7em;
	}


}

.promo-boxes .cat-row {
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	height: auto;
	max-width: 540px;
}
.promo-boxes .col-1,
.promo-boxes .col-6 {
	clear: both;
}
.promo-boxes .col-2,
.promo-boxes .col-4 {
	width: 45%;
	margin-right: 8%;
	display: inline-block;
}
.promo-boxes .col-3,
.promo-boxes .col-5 {
	width: 45%;
	display: inline-block;
}
.promo-boxes .cat-row .promo-name {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.promo-boxes .cat-row .promo-name span {
	display: block;
	width: 100%;
	height: 100%;
}
.promo-boxes .cat-row .promo-name a {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	display: block;
	width: 100%;
	padding: 20px 0;
	background: rgb(93, 153, 129); /* fallback */
	background: rgba(93, 153, 129, 0.8);
}

.promo-boxes .col-1 .promo-name a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.promo-boxes .col-2 .promo-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.promo-boxes .col-3 .promo-name a { background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8); }
.promo-boxes .col-4 .promo-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.promo-boxes .col-5 .promo-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.promo-boxes .col-6 .promo-name a { background: rgb(157, 57, 45); /* fallback */ background: rgba(157, 57, 45, 0.8); }

.promo-boxes .col-1:hover .promo-name a { background: rgba(93, 153, 129, 1); }
.promo-boxes .col-2:hover .promo-name a { background: rgba(85, 131, 152, 1); }
.promo-boxes .col-3:hover .promo-name a { background: rgba(147, 90, 47, 1); }
.promo-boxes .col-4:hover .promo-name a { background: rgba(177, 161, 147, 1); }
.promo-boxes .col-5:hover .promo-name a { background: rgba(142, 72, 114, 1); }
.promo-boxes .col-6:hover .promo-name a { background: rgba(157, 57, 45, 1); }

.promo-boxes .cat-row:hover .promo-name span a {
	background: rgba(93, 153, 129, 1);
	text-decoration: none;
}
.promo-boxes .cat-row .promo-image a {
	display: block;
	width: 100%;
	height: 100%;
}
.promo-boxes .cat-row .promo-image img {
	max-width: 100%;
	height: auto;
}

.stay-informed {
	color: #fff;
	font-size: 0.8em;
	background-color: #8e3322;
	padding: 14px 14px 6px 14px;
}
.stay-informed-meeting { background-color: #8E4872; }
.stay-informed-sports { background-color: #5C9880; }
.stay-informed-travel { background-color: #548599; }
.stay-informed-title {
	width: 100%;
	margin: 6px 0;
	text-align: center;
}
.stay-informed-info {
	width: 100%;
	margin: 12px 0;
}
.stay-informed-copy {
	font-family: 'Lato Light';
	font-size: 1.2em;
}
.stay-informed-fields {
	width: 100%;
	margin: 6px 0;
	text-align: center;
}
.stay-informed input[type=text] {
	width: 100%;
	color: #777;
	text-style: italic;
	font-size: 14px;
	padding: 2px;
	margin-bottom: 6px;
	height: 26px;
}
.stay-informed input[type=submit] {
	background : url("/sites/all/themes/rapidcity/images/block_submit.jpg") no-repeat top center;
	width: 80px;
	height: 26px;
	border: none;
	color: transparent;
}
@media(max-width:992px){
	.stay-informed-image {
		display: none;
	}
	.stay-informed-copy {
		width: 100%;
	}
}

@media(max-width:768px){
	.main-container form input[type=text],
	.main-container form input[type=email],
	.main-container form textarea,
	.main-container form select {
		width: 150px !important;
	}
}




.view .date-nav-wrapper .date-heading {
	text-align: left;
	font-family: 'Open Sans Condensed Bold', sans-serif !important;
	text-transform: uppercase;
}

.date-nav-wrapper .pager {
	display: none;
}

.cal-day-boxes {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-bottom: 16px;
	padding-bottom: 16px;
}
.cal-day-boxes h2 {
	text-align: center;
	font-family: 'Open Sans Condensed Bold', sans-serif !important;
	text-transform: uppercase;
}
.cal-day-boxes .col-cal {
	padding: 0 5px;
}
.cal-day-box {
	height: 106px;
	color: #fff;
	margin-bottom: 5px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #9f8536;
}
.cal-day-box:hover {
	background-color: #947a2d;
}
a.cal-day-link {
	display: block;
	height: 106px;
	padding-top: 10px;
	width: 100%;
	color: #fff;
}
a.cal-day-link:hover {
	text-decoration: none !important;
	color: #f3e4b2 !important;
}
.cal-day-month {
	font-size: 1em;
}
.cal-day-name {
	font-size: 1.3em;
}
.cal-day-num {
	font-size: 2.2em;
	font-family: 'Lato Light', sans-serif;
}




/**
 * Nodes
 */


.listing-page {}

.listing-teaser {
	padding: 20px 0;
	border-top: 2px dotted #5f5f5f;
}
.listing-teaser h2 {
	margin-top: 0;
}
.listing-teaser h2 a {
	color: #5f5f5f;
}
.listing-teaser p {
	line-height: 1.2em;
	margin-bottom: 0;
}
.listing-teaser-image {
	padding-bottom: 6px;
}
.listing-teaser-extras {
	text-align: right;
}
.listing-teaser .readmore {
	font-weight: bold;
}
.listing-teaser-extras .listing-teaser-links {
	float: right;
	clear: both;
	width: 200px;
}
.listing-teaser-extras .addthis_toolbox {
	float: left;
	clear: both;
	width: 164px;
}
.map-teaser {
	width: 100%;
	height: 150px;
}
@media(max-width:1199px){
	.map-teaser {
		height: 120px;
	}
}
@media(max-width:991px){
	.map-teaser {
		height: 100px;
	}
}
@media(max-width:768px){
	.listing-teaser-map {
		display: none;
	}
}


/* Photos Page */
.view-photos-page ul {
	padding: 10px 0;
	list-style: none;
}
.view-photos-page ul li {
	float: left;
}
.view-photos-page .views-field-field-photo img {
	max-width: 100%;
	height: auto;
}
.view-photos-page .views-row {
	width: 100%;
	margin: 10px 0;
}
.view-photos-page .views-row-1,
.view-photos-page .views-row-4 {
	width: 100%;
	clear: both;
}
.view-photos-page .views-row-2,
.view-photos-page .views-row-5 {
	float: left;
	padding-right: 10px;
	width: 50%;
}
.view-photos-page .views-row-3,
.view-photos-page .views-row-6 {
	float: right;
	padding-left: 10px;
	width: 50%;
}
.view-photos-page .pager {
	display: none;
}
@media(max-width:767px){
	.view-photos-page .views-row-2,
	.view-photos-page .views-row-5,
	.view-photos-page .views-row-3,
	.view-photos-page .views-row-6 {
		float: left;
		clear: both;
		padding: 0;
		width: 100%;
	}
}
.slide-gallery-photo {
	position: relative;
	overflow: hidden;
}
.slide-gallery-desc {
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: 10px 20px 40px 20px;
	background-color: rgba(0,0,0,0.5);
}
.slide-gallery-desc h1 {
	color: #fff;
	margin-bottom: 2px;
}
.slide-gallery-share {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 104px;
}


/* Feature Box */
.featbox .featbox-name {
	padding: 0 15px;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.featbox .featbox-name span {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4em;
	display: block;
	width: 100%;
	padding: 20px 0;
}
.featbox .featbox-name span a {
	color: #fff;
}
.brand-blue .featbox .featbox-name span { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.brand-green .featbox .featbox-name span { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.brand-purple .featbox .featbox-name span { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.brand-yellow .featbox .featbox-name span { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }
.brand-blue .featbox:hover .featbox-name span { background: rgba(85, 131, 152, 1); }
.brand-green .featbox:hover .featbox-name span { background: rgba(93, 153, 129, 1); }
.brand-purple .featbox:hover .featbox-name span { background: rgba(142, 72, 114, 1); }
.brand-yellow .featbox:hover .featbox-name span { background: rgba(159, 133, 53, 1); }
.featbox .featbox-image a {
	display: block;
	width: 100%;
	height: 100%;
}
.featbox .featbox-image img {
	width: 100%;
	height: auto;
}
@media(max-width:1199px){
	.featbox .featbox-name span {
		font-size: 1.2em;
	}
}
@media(max-width:991px){
	.featbox .featbox-name span {
		font-size: 1em;
	}
}

.btn-box {
	padding: 12px;
	color: #fff;
	width: 100%;
	max-width: 366px;
	margin-bottom: 14px;
	font-size: 1.6em;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	border-radius: 0;
	text-align: center;
	background-color: #9d391c;
}


.brand-blue .btn-box { background-color: #548599; }
.brand-green .btn-box { background-color: #5C9880; }
.brand-purple .btn-box { background-color: #8E4872; }
.brand-yellow .btn-box { background-color: #9F8535; }
@media(max-width:1199px){
	.btn-box {
		font-size: 1.4em;
		padding: 10px 12px;
	}
}
@media(max-width:991px){
	.btn-box {
		font-size: 1.2em;
		padding: 8px 12px;
	}
}
@media(max-width:768px){
	.btn-box {
		font-size: 1.1em;
		padding: 8px 4px;
	}
}

.btn-news {
	width: 80px;
	height: 30px;
	font-size: 1.2em;
	color: #fff;
	margin-bottom: 7px;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	border-radius: 0;
	text-align: center;
}

.brand-blue .btn-news { background-color: #548599; }
.brand-green .btn-news { background-color: #5C9880; }
.brand-purple .btn-news { background-color: #8E4872; }
.brand-yellow .btn-news { background-color: #9F8535; }

.centered-content {
	text-align: center;
}

.block-indent {
	list-style: none;
}



.slab-block {
	text-align: center;
}

.slab-blue {
	height: auto;
	background: #548599 url('/sites/all/themes/rapidcity/images/bg_blue.jpg') top center no-repeat;
}
.slab-green {
	height: auto;
	background: #5d9981 url('/sites/all/themes/rapidcity/images/bg_green.jpg') top center no-repeat;
}
.slab-purple {
	height: auto;
	background: #9e4778 url('/sites/all/themes/rapidcity/images/bg_purple.jpg') top center no-repeat;
}
.slab-red {
	height: auto;
	background: #9e392d url('/sites/all/themes/rapidcity/images/bg_red.jpg') top center no-repeat;
}
.slab-tan {
	height: auto;
	background: #b2a294 url('/sites/all/themes/rapidcity/images/bg_tan.jpg') top center no-repeat;
}
.slab-yellow {
	height: auto;
	background: #9f8536 url('/sites/all/themes/rapidcity/images/bg_yellow.jpg') top center no-repeat;
}

/**
 * Homepage Jumbotron
 */

.jumbotron-container {
	padding: 0;
}
.front .masthead {
	background: #d7d7d7 url('/sites/all/themes/rapidcity/images/bg_stone.jpg') top center repeat;
    min-height: 100%;
	width: 100%;
	height: auto;
}
.slide .views-field-field-homepage-slide-image img {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}
.slide .views-field-title {
	font-size: 3.4em;
	color: #fff;
	font-family: 'Open Sans Condensed Bold', sans-serif;
	text-transform: uppercase;
	position: absolute;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	line-height: 1em;
	padding-right: 12px;
	bottom: 22%;
	left: 10%;
	text-shadow: 0 0 10px #000000;

}
.slide .views-field-field-subtitle h1{
	font-size: 2.4em;
	color: #fff;
	font-family: 'Open Sans Condensed Bold', sans-serif;
	text-transform: uppercase;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	line-height: 1em;
	padding-right: 12px;
	text-shadow: 0 0 10px #000000;
}
.slide .views-field-field-subtitle {
	font-size: 1.6em;
	line-height: 32px;
	color: #fff;
	position: absolute;
	bottom: 15%;
	left: 10%;
	text-shadow: 0 0 3px #000000;
}
.slide a {
	color: #bcdbeb;
}
@media (max-width: 767px) {
	.slide .views-field-title {
		font-size: 2em;
		padding-bottom: 18px;
		border-bottom: none;
	}
	.slide .views-field-field-subtitle h1{
		font-size: 2.0em;
		padding-bottom: 0px;
		border-bottom: none;
	}
	.slide .views-field-field-subtitle {
		font-size: 1em;
		line-height: 18px;
		bottom: 10px !important;
	}
}
.carousel-control {
	font-size: 16em;
	font-family: "Open Sans Condensed Light", sans-serif;
}
.carousel-control.right,
.carousel-control.left {
	background: none;
}
.carousel-indicators {
	display: none;
}
.carousel-inner {
	max-height: 100%;
	overflow: hidden;
}
/*.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}*/

/*@media(min-width:768px){
	.slide .views-field-field-homepage-slide-image {
		text-align: center;
	}
	.slide .views-field-field-homepage-slide-image img {
		width: 680px;
	}
	.slide .views-field-field-homepage-slide-image {
		height: 384px;
	}
}
@media(min-width:992px){
	.slide .views-field-field-homepage-slide-image img {
		width: 882px;
	}
	.slide .views-field-field-homepage-slide-image {
		height: 501px;
	}
}
@media(min-width:1200px){
	.slide .views-field-field-homepage-slide-image img {
		width: 1054px;
	}
	.slide .views-field-field-homepage-slide-image {
		height: 608px;
	}
}*/




.nav-tabs,
.action-links {
  height:30px;
  margin:15px 0px 20px 0;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.nav-tabs li,
.action-links li {
  /*height:40px;*/
  position:relative;
  /*background:#eee url(../images/bleeds.png) 50% 0px no-repeat;*/
}

.nav-tabs a,
.action-links a {
  float:left;
  text-align:center;
  min-width:70px;
  padding:5px 10px;
  color:#333;
  text-shadow:#fff 0px 1px 0px;
}

.nav-tabs li a:hover, .action-links a:hover { background-color:#f8f8f8; }

.nav-tabs li:first-child,
.action-links li:first-child {
  border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
  -webkit-border-radius:5px 0px 0px 5px;
  background-position:0% 0px;
}

.nav-tabs li:last-child,
.action-links li:last-child {
  border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  background-position:100% 0px;
}

.nav-tabs li.active a,
.action-links li.active a {
  color:#fff;
  background-color:#7bc !important;
  text-shadow:#38a 0px 1px 0px;
}

.nav-tabs li.active a:hover,
.action-links li.active a:hover {
  background-color:#7bc;
}




/**
 * Forms
 */


.search-advanced {
	display: none;
}
.search-form {
	max-width: 400px;
}
.search-form .form-wrapper {
	margin-top: 20px;
}
.search-form .form-text {
	padding: 3px 8px;
	color: #000;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
	border-radius: 0;
	border: 1px #758e9c solid;
}
.search-form .btn {
	text-indent: -9995px;
	margin: 0 0 0 16px !important;
	color: #fff !important;
	border-radius: 0;
	border: none;
	width: 89px;
	height: 34px;
	background-color: #8e3322;
	background-image: url('/sites/all/themes/rapidcity/images/form_submit.jpg');
}
.search-form .btn .glyphicon {
	display: none;
}
.search-results {
	padding-left: 0;
}
.search-results h2 {
	margin-bottom: 2px;
	font-size: 1.6em;
}
.search-results h2 a {
	color: #333;
	text-decoration: underline;
}
.search-results h2 a:hover {
	text-decoration: none;
}
.search-results p a {
	color: #945b2f;
}


.masthead-form {
	position: relative;
	float: right;
	width: 520px;
}
.page-node-184 .masthead-form,
.page-events .masthead-form {
	width: 650px;
}
.masthead-info {
	width: 700px;
}
.masthead #block-views-exp-events-by-date-page,
.masthead #block-views-dd37e56821ac34404a9ca02f298a569d,
.masthead #block-views-62b5316e652d08a4a201a1b34980c490 {
	/*position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;*/
}
.masthead .views-exposed-form label {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 1.4em;
	margin-bottom: 0;
}
.masthead .form-control {
	border: 1px solid #5f5f5f;
	border-radius: 0;
	font-size: 0.9em;
	height: 32px;
	padding: 4px 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: none;
}
.masthead select,
.masthead input {
	max-width: 180px;
}
.masthead .form-submit {
	background-color: #8e3322;
	border-color: #7c261c;
	height: 32px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 1.2em;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	margin-top: 28px;
	padding: 3px 12px;
}
@media(max-width:991px) {
	.masthead-form {
		width: 420px;
	}
	.page-node-184 .masthead-form,
	.page-events .masthead-form {
		width: 550px;
	}
	.masthead-info {
		width: 500px;
	}
	.masthead select,
	.masthead input {
		max-width: 150px;
	}
}
@media(max-width:767px) {
	.masthead-form {
		clear: left;
		float: left;
		margin-top: -32px;
		width: 100%;
	}
	.masthead-info {
		width: 350px;
	}
	.masthead select,
	.masthead input {
		max-width: 120px;
	}
}




/**
	Validation Forms
*/

form.cmxform td {
	padding: 5px 10px 5px 0;
}

form.cmxform legend {
	padding-left: 0;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
}

form.cmxform label.error, label.error {
	color: red;
	font-style: italic
}
div.error { display: none; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted gray; }
.hide { display:none; }









#block-workbench-block {
	clear: both;
	margin: 12px 0;
}

.masthead-image img {
	max-width: 100%;
	height: auto;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.view-recent-listings {
	padding: 12px 0;
	margin-bottom: 12px;
	border-top: 2px #ddd solid;
	border-bottom: 2px #ddd solid;
}

.view-recent-listings .span4 {
	border: 2px #ddd solid;
	background-color: #eee;
}

.navbar #block-tb-megamenu-main-menu {
	float: left;
}

.region-sidebar-second .block {
	margin: 12px 0;
	border: 1px #ddd solid;
	background-color: #fefefe;
}



.field-type-image img { /* image fields default to responsive */
	display: block;
	height: auto;
	max-width: 100%;
}

.taxboxbig div,
.taxboxsmall div {
	background-color: #00ff00;
	margin-bottom: 20px;
}
.taxboxbig div {
	height: 220px;
}
.taxboxbig div {
	height: 100px;
}


.rcblue {
	background-color: #548599;
}
.rcpurple {
	background-color: #8e4873;
}
.rcgreen {
	background-color: #5d9981;
}
.rcyellow {
	background-color: #9f8536;
}
.text-white {
	color: #fff;
}
.text-green {
	color: #173b2d;
}
.text-purple {
	color: #442137;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/**
 * Homepage Photo Carousel
 */

.home-photos section {
    position: relative;
	overflow: hidden;
}

.jcarousel-wrapper {
    margin: 40px auto;
    position: relative;
	overflow: hidden;
	text-align: center;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
	margin: 0 auto;
    width: 200%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 400px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0 25px;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    -webkit-box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
	width: 100%;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    width: 40px;
	height: 160px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 8em;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
	text-decoration: none;
	color: #ddd;
}

.jcarousel-control-prev {
    left: 20%;
}

.jcarousel-control-next {
    right: 20%;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}



/*____________Listing_Detail__________*/

.listing-image {
}
.field-section,
.desc-section {
	padding: 10px 0;
}


/*___________End_Listing_Detail_______*/


/*__________________________________*/


#ui-datepicker-div {
	margin-top: -50px;
}
.ui-datepicker-trigger {
    border: medium none !important;
    display: inline !important;
    right: 24px;
    top: -1px !important;
    position: relative;
    vertical-align: middle;
}

#views-exposed-form-near-you-page .views-exposed-form {
	position: relative;
}
#views-exposed-form-near-you-page .views-exposed-form .form-type-select {
	max-width: 250px;
}
.page-near-me .view .views-row {
	margin: 16px 0;
}
.page-near-me .view .views-field-title {
    font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
}
.page-near-me .view .views-field-distance {
	font-size: 0.8em;
}

@media (min-width:768px){
	.mobile-only {
		display: none !important;
	}
}

/*__________________________top_10__________________________*/


.top_10_wrapper ul{
	list-style: none;
}

.top_10_wrapper img{
	margin-bottom: 15px;
}

.btn-side {
background: url("/sites/all/themes/rapidcity/images/block_submit.jpg") no-repeat top center;
width: 80px;
height: 26px;
border: none;
color: transparent;

}

.top-buffer {
	margin-top: 20px;
}
.bottom-buffer {
	margin-bottom: 20px;
}
.view-content:nth-child(3n+4) .top-ten-list{
	clear: both;
}

.top-ten-list h2{
	vertical-align: baseline;
}

.view-top-10-lists-view img{
	width: 100%;
	height: auto;
}

.view-top-10-lists-view .row-fluid{
	margin: 0 -15px;

}
.view-top-10-lists-view .span4{
	width: 33%;
	position: relative;
	margin-bottom: 30px;
	padding: 0 15px;
	float: left;

}

.view-top-10-lists-view .views-field-title {
	padding: 0 15px;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;

}
.view-top-10-lists-view .views-field-title span {
	display: block;
	width: 100%;
	height: 100%;
}
.view-top-10-lists-view .views-field-title a {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	display: block;
	width: 100%;
	padding: 20px 5px;
	background: rgb(93, 153, 129); /* fallback */
	background: rgba(93, 153, 129, 0.8);

}

.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(1) .span4:nth-child(1) .views-field-title a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(1) .span4:nth-child(2) .views-field-title a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(1) .span4:nth-child(3) .views-field-title a { background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(2) .span4:nth-child(1) .views-field-title a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(2) .span4:nth-child(2) .views-field-title a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(2) .span4:nth-child(3) .views-field-title a { background: rgb(157, 57, 45); /* fallback */ background: rgba(157, 57, 45, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(3) .span4:nth-child(1) .views-field-title a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(3) .span4:nth-child(2) .views-field-title a { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(3) .span4:nth-child(3) .views-field-title a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(4) .span4:nth-child(1) .views-field-title a { background: rgb(85, 131, 152); background: rgba(85, 131, 152, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(4) .span4:nth-child(2) .views-field-title a { background: rgb(93, 153, 129); background: rgba(93, 153, 129, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(4) .span4:nth-child(3) .views-field-title a { background: rgb(85, 131, 152); background: rgba(85, 131, 152, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(5) .span4:nth-child(1) .views-field-title a { background: rgb(147, 90, 47); background: rgba(147, 90, 47, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(5) .span4:nth-child(2) .views-field-title a { background: rgb(177, 161, 147); background: rgba(177, 161, 147, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(5) .span4:nth-child(3) .views-field-title a { background: rgb(142, 72, 114); background: rgba(142, 72, 114, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(6) .span4:nth-child(1) .views-field-title a { background: rgb(157, 57, 45); background: rgba(157, 57, 45, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(6) .span4:nth-child(2) .views-field-title a { background: rgb(142, 72, 114); background: rgba(142, 72, 114, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(6) .span4:nth-child(3) .views-field-title a { background: rgb(159, 133, 53); background: rgba(159, 133, 53, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(7) .span4:nth-child(1) .views-field-title a { background: rgb(177, 161, 147); background: rgba(177, 161, 147, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(7) .span4:nth-child(2) .views-field-title a { background: rgb(85, 131, 152); background: rgba(85, 131, 152, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(7) .span4:nth-child(3) .views-field-title a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.view-top-10-lists-view #views-bootstrap-grid-1 .cat-row:hover .views-field-title span a {
	background: rgba(93, 153, 129, 1);
	text-decoration: none;
}
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(1) .span4:nth-child(1):hover .views-field-title a { background: rgba(93, 153, 129, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(1) .span4:nth-child(2):hover .views-field-title a { background: rgba(85, 131, 152, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(1) .span4:nth-child(3):hover .views-field-title a { background: rgba(147, 90, 47, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(2) .span4:nth-child(1):hover .views-field-title a { background: rgba(177, 161, 147, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(2) .span4:nth-child(2):hover .views-field-title a { background: rgba(142, 72, 114, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(2) .span4:nth-child(3):hover .views-field-title a { background: rgba(157, 57, 45, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(3) .span4:nth-child(1):hover .views-field-title a { background: rgba(142, 72, 114, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(3) .span4:nth-child(2):hover .views-field-title a { background: rgba(159, 133, 53, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(3) .span4:nth-child(3):hover .views-field-title a { background: rgba(177, 161, 147, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(4) .span4:nth-child(1):hover .views-field-title a { background: rgba(85, 131, 152, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(4) .span4:nth-child(2):hover .views-field-title a { background: rgba(93, 153, 129, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(4) .span4:nth-child(3):hover .views-field-title a { background: rgba(85, 131, 152, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(5) .span4:nth-child(1):hover .views-field-title a { background: rgba(147, 90, 47, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(5) .span4:nth-child(2):hover .views-field-title a { background: rgba(177, 161, 147, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(5) .span4:nth-child(3):hover .views-field-title a { background: rgba(142, 72, 114, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(6) .span4:nth-child(1):hover .views-field-title a { background: rgba(157, 57, 45, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(6) .span4:nth-child(2):hover .views-field-title a { background: rgba(142, 72, 114, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(6) .span4:nth-child(3):hover .views-field-title a { background: rgba(159, 133, 53, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(7) .span4:nth-child(1):hover .views-field-title a { background: rgba(177, 161, 147, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(7) .span4:nth-child(2):hover .views-field-title a { background: rgba(85, 131, 152, 1); }
.view-top-10-lists-view #views-bootstrap-grid-1 .row-fluid:nth-child(7) .span4:nth-child(3):hover .views-field-title a { background: rgba(85, 131, 152, 1); }

@media (max-width: 767px) {

.view-top-10-lists-view .span4 {
	float: left;
	width: 100%;
	padding: 0 10px;
	text-align: center;
	margin-bottom: 20px;

	}
}


/*__________________________Misc__________________________*/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.mini-gallery-container {
z-index: 9999;
}

.page-node-1324 .masthead {
background: #d7d7d7 url('/sites/all/themes/rapidcity/images/bg_stone.jpg') top center repeat !important;
min-height: 100%;
width: 100%;
height: auto;
}

.page-node-1765 .masthead {
background: #d7d7d7 url('/sites/all/themes/rapidcity/images/bg_stone.jpg') top center repeat !important;
min-height: 100%;
width: 100%;
height: auto;
}

.footer-arrow {
top: -3px;
position: relative;
left: 3px;
}

.mask {
position: fixed;
top: 0;
background-color: #000;
opacity: 0;
filter: alpha(opacity=0);
z-index: 100;
}

.mini-gallery-mask-bg{
z-index: 999;

}

div.gal-container a {
padding: 10px;
display: block;
text-align: center;
font-size: 14px;
background-color: #fff;
}

#cke_doksoft_bootstrap_templates_edit-body-und-0-value {
	z-index: 100 !important;
}

#views-exposed-form-events-by-date-page label {
}
#edit-idss-vatt-event-start-date-value-min-wrapper,
#edit-idss-vatt-event-start-date-value-max-wrapper {
	float: left;
	padding: .5em 1em 0 0;
	width: 180px;
}
#edit-idss-vatt-event-start-date-value-wrapper {
	padding: 0 !important;
}
#edit-idss-vatt-event-end-date-value-1-wrapper,
#edit-between-date-filter-start-wrapper,
#edit-between-date-filter-end-wrapper {
	display: none;
}


/*Guide Requests*/

ul.guide-request-ul {
	list-style: none;
	padding-left: 0;
}

ul.guide-request-ul li:before {
	content: " - "
}

ul.guide-request-ul li {
	padding-left: 12px;
}

.guide-format-select input{ display: none;}
.guide-format-select { padding-top: 0px !important; padding-bottom: 15px !important;}
.guide-format-select .btn-box {
padding: 2px;
color: #fff;
max-width: 100%;
margin-bottom: 14px;
font-size: 1.2em;
font-family: 'Lato Light',sans-serif;
text-transform: uppercase;
border-radius: 0;
text-align: center;
background-color: #548599;
}

/*#guideVisitors, #guideTravel, #guideSports, #guideMeeting {
	display: none;
}*/

.guide-hidden-radio{
	display: none;
}

.guide-format-select input[type=radio]:checked + label {
  box-shadow: inset 0px 5px 17px 1px rgba(0, 0, 0, 0.3);
  color: #000000;
}

.or-select {
	position: absolute;
	right: -23px;
	top: -5px;
	z-index: 23;
	width: 45px;
}
.or-select img{
	width: 44px;
}

@media (max-width:768px){

.or-select{
	position: absolute;
	left: -13px;
	top: 15px;
	z-index: 1;
	width: 45px;
}
.hide-mobile{
	display: none;
}

h2.visitor-form-h2 {
font-size: 21px;
margin-top: 0;
}

}
.guide-h2{margin-top:0;}

.visitor-form-popup  {
	background: #ffffff;
	padding:10px 15px;
	position: absolute;
	bottom: -600px;
	max-width: 400px;
	margin: 0px auto;
	border: solid 1px #f8f8f8;
	border-radius: 4px;
	left: 0;
	right: 0;
	z-index: 9999;

		-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}
.visitor-form-active {
	bottom:50px;

	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}





.modal-background{
    width:100%;
    height:0%;
    position:fixed;
    bottom:-100px;
    left:0;
    background:#121212;
    opacity:.0;
    z-index:9998;
      -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.modal-background-active{
    width:100%;
    height:100%;
    position:fixed;
    bottom:0;
    left:0;
    background:#121212;
    opacity:.7;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

.visitor-form-popup input {
	width: 100% !important;
	padding: 2px;
}

.guide-request-form input {
	width: 100% !important;
}

.row.form-first-last {
margin: 0;
}

input#submit {
	padding: 2px;
	color: #fff;
	max-width: 100%;
	margin-bottom: 14px;
	font-size: 1.2em;
	font-family: 'Lato Light',sans-serif;
	text-transform: uppercase;
	border-radius: 0;
	text-align: center;
	background-color: #548599;
}

input[type="checkbox"] {
width: 15px !important;
}

h2.visitor-form-h2 {
font-size: 22px;
margin-top: 0;
}

/*Fix nav*/
#block-block-48{
	position: static !important;
}

.rushmore-side-col h3{
	text-align: center;
	padding: 0px 20px;
}

.rushmore-side-col h2{
	font-size: 1.7em !important;
}

.rushmore-side-col .carousel-indicators {
bottom: -10px;
left: 30px;
display: block;
}

.rushmore-side-col .carousel-indicators li {
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.73);
	border: none;
}

.rushmore-side-col .carousel-indicators .active {
	background: rgba(255, 255, 255, 1) !important;
}

.rushmore-side-col .carousel-inner>.item>img{
	width: 100%;
}

.rushmore-links span {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 0;
	font-size: 24px;
	color: #ffffff;
	text-shadow: 1px 1px 7px rgba(0,0,0,.7);
}

.rushmore-links .col-xs-4:hover span {
	font-size: 26px;

}

.rushmore-links img{
	width:100%;
}

.rushmore-links{
	margin-bottom: 25px;
}

.rushmore-link-figure {
	position: relative;
	margin-bottom: 15px
}

.rushmore-link-figure figcaption {
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-color: rgba(84, 133, 153, 0.63);
	color: #ffffff !important;
	  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

.rushmore-link-figure figcaption:hover {
	width: 55%;
	  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;


}

.rushmore-about-figure {
	position: relative;
	margin-bottom: 15px
}
.rushmore-about-figure h2{
	margin-bottom: 0;
}

.rushmore-about-figure figcaption {
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-color: rgba(84, 133, 153, 0.63);
	color: #ffffff !important;
}

.col-5 {
	float: left;
	width: 20%;
	padding: 0 10px;
}


.where-to-stay {
	position: relative;
}


.where-to-stay figure{
	/*border: 6px #ffffff solid;*/
    display: inline-block;
    background: black;
    padding: 0;
}

.where-to-stay figure img {
    display: block;
    webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.where-to-stay figure:hover img {
    opacity: 0.7;

}




.where-to-stay figcaption{
	position: absolute;
	bottom: 0;
	padding: 10px;
	padding-bottom: 7px;
	font-size: 20px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000;
}

.rushmore-masthead-info {
	width: 100% !important;
}

.page-node-650 .masthead-info {
width: 100%;
}
.page-node-650 .masthead {
background-color: #5c9880;
}
.page-node-650 .masthead-strip {
background: rgb(92,152,128);
background: rgba(92,152,128,0.8);
}


@media (max-width: 767px) {

.col-5 {
	float: left;
	width: 100%;
	padding: 0 10px;
	text-align: center;
	margin-bottom: 20px;

	}

.where-to-stay figure img {
   width: 100%;
	}
}

.rushmore-masthead-info {
	width: 100% !important;
}

.top-ten-list img{
	width: 100% !important;
	height: auto !important;
}

.ten-single-item {
	padding-bottom: 10px;
	border-bottom: 1px dotted #D3D7D9;
}

.ten-single-item .ten-copy{
	padding-top: 10px;
	display: block;
}


#block-views-top-10-lists-view-block {
	margin-bottom: 25px;
}

.view-top-10-lists-view .views-row {
	margin-left: -15px;
	margin-right: -15px;
}

.page-node-647 #block-system-main {
	padding-bottom: 0;
}

.home-explore-map .col-sm-12.em_map_box.explore-page.nomobile760{
	margin-bottom: 0;
}

.views-field.views-field-field-video-url {
	font-size: 1.6em;
	color: #fff;
	position: absolute;
	bottom: 8%;
	left: 10%;
	text-shadow: 0 0 3px #000000;
}

/*.page-node-1765  .footer-fixed .footer-fixed-content {
	width: 681px;
	margin: 0 auto;
	padding-top: 10px;
}*/

.views-field-field-youtube-btn div.field-content{
	position: absolute;
	z-index: 100;
	top: 34%;
	left: 0;
	right: 0;
	width: 100px;
	margin: 0 auto;
}

 .view-display-id-homepage_jumbotron .views-field-field-youtube-btn ~ div.views-field-field-subtitle h1{
	max-width: 85%;
}

.carousel-indicators {
	display: block;
}




@media (max-width: 992px){
	.page-node-1765 .slide .views-field-title{
			font-size: 2.4em;
	}



	.views-field-field-youtube-btn div.field-content{
		width: 100px;
		top: 30;



	}
	.views-field-field-youtube-btn div.field-content img{
		width: 90px;
		padding-top: 1px;

	}

	  .view-display-id-homepage_jumbotron .views-field-field-youtube-btn ~ div.views-field-field-subtitle h1{
		display: none;
	}

}


@media (max-width: 767px){
	.views-field.views-field-field-video-url {
	font-size: 12px;
	bottom: 10px;
	line-height: 13px;

	}
	.slide .views-field-field-subtitle {
	font-size: 12px;
	bottom: 23%;
	}

	.slide .views-field-title {
	font-size: 1.5em;
	padding-bottom: 40px;
	border-bottom: none;
	}


	.page-node-1765 #block-block-3{
		display: none;
	}

	.page-node-1765 .footer-fixed .fixed-footer-link {
	padding: 0 0px 0 10px;
	font-size: 9px;
	}

	.em-list {
		display: none;
	}

	.views-field-field-youtube-btn div.field-content{
		position: absolute;
		z-index: 10;
		top: 25%;
		left: 0;
		right: 0;
		width: 100px;
		margin: 0 auto;
	}
	.views-field-field-youtube-btn div.field-content img{
		width: 90px;
		padding-top: 1px;

	}
	.carousel-indicators {
		bottom: -5px;
	}


}
.print-listing {
  display: none;
  font-size: 12px !important;
}
.print-listing span{
  font-size: 12px !important;
}

/* PRINT */

@media print{
	.nearme,
	.masthead-wrapper,
  .masthead,
	.region-sidebar-first,
	.nav-tabs,
	.region-bottom-first,
	footer,
  #navbar,
	.footer-fixed {
		display: none;
	}
	.listing-teaser {
		border: none;
		padding: 4px 0;
	}
	.listing-teaser h2,
	.listing-teaser h3 {
		font-size: 1.2em;
		margin: 0;
	}
	.listing-teaser-content p,
	.listing-teaser-content .readmore,
	.listing-teaser-extras,
	.pagination {
		display: none;
	}
  .page-events .listing-teaser {
    display: none;
  }

  .page-events .print-listing {
    display: block;
    border-top: 2px dotted #5f5f5f;
  }

}

/*facebook like button modal window hide*/
.footer-like {
	width: 82px;
	height: 20px;
	overflow: hidden;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}



.not-logged-in .tabs--primary {
	display: none;
}



@media (max-width: 992px){

    #block-block-11 {
	display: block;
     }

}

@media (max-width: 767px){

	#block-block-11 {
	display: none;
	}
	/*Add padding to footer images on mobile*/
	.footer .foot-logos {
	  padding-bottom: 60px;
	}

}


/*___________________________________Featured Content__________________________*/


.view-featured-content{
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
}

figure.featured-content-sidebar{
	padding: 0;
}


figure.featured-content {
	padding-bottom: 15px;
}

figure.featured-content img {
  width: 100% ;
  height: auto ;
}

figure.featured-content figcaption {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 15px;
	left: 0;
	padding-top: 0;
	text-align: center;
}

figure.featured-content-sidebar figcaption{
	padding: 0;
}

figure.featured-content figcaption a {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	display: block;
	width: 100%;
	padding: 20px 0;
	background: rgb(93, 153, 129); /* fallback */
	background: rgba(93, 153, 129, 0.8);
}
.view-featured-content div:nth-child(1)  figcaption a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.view-featured-content div:nth-child(2)  figcaption a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-featured-content div:nth-child(3)  figcaption a { background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8); }
.view-featured-content div:nth-child(4)  figcaption a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }

.view-featured-content div:nth-child(1) figure.featured-content:hover figcaption a { background: rgba(93, 153, 129, 1); }
.view-featured-content div:nth-child(2) figure.featured-content:hover figcaption a { background: rgba(85, 131, 152, 1); }
.view-featured-content div:nth-child(3) figure.featured-content:hover figcaption a { background: rgba(147, 90, 47, 1); }
.view-featured-content div:nth-child(4) figure.featured-content:hover figcaption a { background: rgba(177, 161, 147, 1); }

/*_______________________________Landing Page Rushmore__________________________*/
.rushmore-landingpage {
	padding: 0px;
	padding-top: 50px !important;
}

figure.rushmore-items {
	position: relative;
}

figure.rushmore-items img{
	width: 100%;
}
.rushmore-items figcaption {
	position: absolute;
	top: 0;
	width: 25%;
	padding: 15px;
	height: 100%;
	color: #ffffff;

  	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

figure.rushmore-items:nth-child(even)  figcaption{
	right: 0;
}

figure.rushmore-items:nth-child(4n+1)  figcaption{ background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8);}
figure.rushmore-items:nth-child(4n+2)  figcaption{ background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8);}
figure.rushmore-items:nth-child(4n+3)  figcaption{ background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8);}
figure.rushmore-items:nth-child(4n+4)  figcaption{ background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8);}

.rushmore-stay-h1{
	background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8);
	padding: 10px;
	color: #ffffff;
}

.node-type-landing-page-rushmore- #navbar {
  margin-top: 0px;
}

.node-type-landing-page-rushmore- .jumbotron-container{
  background: #d7d7d7 url('/sites/all/themes/rapidcity/images/bg_stone.jpg') top center repeat;
  min-height: 100%;
  width: 100%;
  height: auto;
}

.rushmore-intro-copy a, .rushmore-map-copy a, .rushmore-callouts a{
	color: #ffffff;
	text-decoration: underline;

}


.node-type-landing-page-rushmore- .row{
	margin-right: 0;
	margin-left: 0;

}

.node-type-landing-page-rushmore- .callout {
  background: transparent;
  box-shadow: none;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}


.node-type-landing-page-rushmore- #block-system-main {
  padding-bottom: 0px;
}

.rushmore-intro-copy {
	padding: 15px;
	background: rgb(93, 153, 129);
	color: #ffffff
}

.node-type-landing-page-rushmore- .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100% !important;
}

.rushmore-map-container{
	background: rgb(85, 131, 152);
}

.rushmore-map-copy{
	background: rgb(85, 131, 152);
	color: #ffffff;
	padding: 15px;
}


@media (max-width: 992px){
	.rushmore-items figcaption {
	width: 40%;
	}

}

@media (max-width: 767px){
	.rushmore-items figcaption {
	position: relative;
	width: 100%;
	}
}

/* listing images */
.listing-image-thumbnails
{
	background-color: black;
}
.listing-image-thumbnails .thumb-image
{
max-height: 150px;
overflow: hidden;
    border: 5px solid black;
}
.listing-image-thumbnails .thumb-image img
{
  width: 100%;
}

.listing-image-thumbnails .thumb-image
{
	width: 25%;
	float: left;
}
.listing-image-thumbnails a
{
	position: relative;

}
.listing-image-thumbnails.cols-2 .thumb-image
{
	width: 50%;
	float: left;
}
.listing-image-thumbnails.cols-3 .thumb-image
{
	width: 33.3%;
	float: left;
}
.listing-image-thumbnails.cols-4 .thumb-image
{
	width: 25%;
	float: left;
}
.listing-image-thumbnails.cols-5 .thumb-image
{
	width: 20%;
	float: left;
}
.breaker
{
	clear: both;
}
