@import url("/sites/all/themes/rapidcity/css/bootstrap.min.css");
@import url("/sites/all/themes/rapidcity/css/style.css");


.view-listing-categories .row-4 .col-1 { 
	clear: both;
}

.view-listing-categories .row-2 .col-3,
.view-listing-categories .row-2 .col-4,
.view-listing-categories .row-4 .col-3,
.view-listing-categories .row-4 .col-5 {
margin-top: -211px;
}

@media (max-width: 767px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4,
	.view-listing-categories .row-4 .col-3,
	.view-listing-categories .row-4 .col-5 {
	margin-top: 0px;
	}

}





@media (min-width: 992px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4,
	.view-listing-categories .row-4 .col-3,
	.view-listing-categories .row-4 .col-5 {
		margin-top: -278px;
	}
}



@media (min-width: 1200px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4,
	.view-listing-categories .row-4 .col-3,
	.view-listing-categories .row-4 .col-5 {
		margin-top: -311px;
	}
}

@media (min-width: 1200px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4,
	.view-listing-categories .row-4 .col-3,
	.view-listing-categories .row-4 .col-5 {
		margin-top: -353px;
	}

}