<div class="ten-slideshow">
	<div>
		<div class="field field-name-body field-type-text-with-summary field-label-hidden">
			<div class="field-items">
				<div class="field-item even" property="content:encoded">
					<p>Rapid City is where your South Dakota summer vacation comes alive with special events, ongoing seasonal celebrations and a host of ways to explore the Black Hills. </p>
					<h1>Can’t-Miss Summer Events in Rapid City</h1>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="ten-single-item">
			<h2>
				1 - CRAZY HORSE VOLKSMARCH • June 6-7, 2015</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_1.png" />
			<p><span class="ten-copy">When was the last time you stood eye-to-chin with a legend? It could happen for you this June 6-7 at the 30th Annual Crazy Horse Volksmarch, where you can join in the most popular organized hike in the United States. You’ll follow a 10K round-trip woodland ramble to hike up the World’s Largest Mountain Carving in progress and reach the pinnacle experience of standing on the outstretched arm of the great Lakota leader. It’s an unforgettable way to explore <a href="http://www.visitrapidcity.com/things-to-do/parks-monuments/crazy-horse-memorial#.VUIzaGTBwXA">Crazy Horse Memorial</a> in all its awe-inspiring glory.</span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/crazy-horse-volksmarch#.VUIzYWTBwXA">Learn more: Crazy Horse Volksmarch</a></span><br />
			&nbsp;</div>
		
		
		<div class="ten-single-item">
			<h2>
				2 - Independence Day Celebration • July 4, 2015</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_2.png" />
			<p><span class="ten-copy">Gather at <a href="http://www.visitrapidcity.com/things-to-do/attractions/main-street-square#.VUIzw2TBwXA">Main Street Square</a> to celebrate the Fourth of July in <a href="http://www.visitrapidcity.com/things-to-do/downtown#.VUIz2mTBwXA">Downtown Rapid City</a> with patriotic music, military tributes and all-American food and fun. Whether you’re cooling off in the fountain, exercising your right to eat a hot dog with everything, taking part in fun and games, waving the red white and blue or saluting it, this is a day of heart-swelling community spirit worthy of Independence Day.  </span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/independence-day-celebration#.VUI0LWTBwXA">Learn more: Rapid City’s Independence Day Celebration</a></span><br />
			&nbsp;</div>
		
		
		<div class="ten-single-item">
			<h2>
				3 - The Gathering of People, Wind and Water • July 17-18, 2015</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_3.png" />
			<p><span class="ten-copy">This free mid-summer celebration in <a href="http://www.visitrapidcity.com/things-to-do/downtown#.VUI0eGTBwXA">Downtown Rapid City</a> reveals the richness and meaning of Native American culture, sharing time-honored traditions and understanding with all who attend. Join the Third Annual Gathering of People, Wind and Water, July 17-18, for demonstrations of traditional and contemporary arts, storytelling and more. Highlighted by an arts market featuring original works for sale by established and emerging Great Plains Native artists and a full day of performances on the stage of <a href="http://www.visitrapidcity.com/things-to-do/attractions/main-street-square#.VUI0amTBwXA">Main Street Square</a>, The Gathering will open your eyes, ears, heart and spirit. </span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/3rd-annual-gathering-people-wind-water#.VUI0hGTBwXA">Learn more: The Gathering of People, Wind and Water</a></span><br />
			&nbsp;</div>
		
		
		<div class="ten-single-item">
			<h2>
				4 - Central States Fair • August 14-23, 2015</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_4.png" />
			<p><span class="ten-copy">Funnel cakes, corndogs, midway rides and grandstand shows – classic summer fun just doesn’t get any better than the 70th Annual Central States Fair & Rodeo in Rapid City. With everything from motocross to barrel races, livestock shows to live concerts and more food-on-a-stick than you can imagine, it’s a 10-day extravaganza with everything you love about life in South Dakota.</span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/70th-annual-central-states-fair#.VUI05mTBwXA">Learn more: Central States Fair</a></span><br />
			&nbsp;</div>

	
	
		<div class="ten-single-item">
			<h2>
				5 - Sturgis Motorcycle Rally • August 3-9, 2015</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_5.png" />
		
				<p><span class="ten-copy">When bikers from across the globe want to get together, this is the event that tops their list. Now in its 75th year, the annual Sturgis Motorcycle Rally is a bucket list experience whether you ride or just appreciate the culture. The rumble will be bigger than ever this year, with motorcycle enthusiasts expected to fill the streets of nearby Sturgis in record numbers to check out the latest from exhibitors, cruise the Black Hills’ spectacular highways and enjoy an epic welcome. Rapid City offers the perfect way to experience the big event, with choice <a href="http://booking.visitrapidcity.com/booking_results.php?utm_campaign=topnav&clone_id=451&group_id=9092&t_src=booking.visitrapidcity.com&t_as=web&t_in=9092&t_camp=undefined#filter%5Bamenities%5D=&filter%5Bcategories%5D%5B%5D=103&filter%5Bgroups%5D%5B%5D=9092&filter%5Bnearby%5D=&filter%5Btitle%5D=&sort%5Bprice%5D=&sort%5Bscore%5D=&sort%5Balpha%5D=&sort%5Bdist%5D=&page=0&view=listview&type=hotels">accommodations</a>, great <a href="http://www.visitrapidcity.com/dining#.VUI1ZWTBwXA">food</a> and plenty of rally spirit to spare.</span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/75th-anniversary-sturgis-motorcycle-rally#.VUI1dmTBzRY">Learn more: Sturgis Motorcycle Rally</a></span><br />
			&nbsp;</div>
	
	
		<div class="ten-single-item">
			<h2>
				6 - National Park Service: Fee Free Day • August 25, 2015</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_6.png" />
			<p><span class="ten-copy">When the National Park Service celebrates its birthday on August 25th, the gift is all yours: free admission! Rapid City is blessed with multiple <a href="http://www.visitrapidcity.com/things-to-do/parks-monuments#.VUI5GGTBzRY">National Parks and Monuments</a> nearby, making free entrance or cave tours at <a href="http://www.visitrapidcity.com/things-to-do/parks-monuments/badlands-park#.VUI5M2TBzRY">Badlands National Park</a>, <a href="http://www.visitrapidcity.com/things-to-do/parks-monuments/wind-cave-national-park#.VUI5PWTBzRY">Wind Cave National Park</a>, <a href="http://www.visitrapidcity.com/things-to-do/parks-monuments/devils-tower#.VUI5Q2TBzRY">Devils Tower National Monument</a> or <a href="http://www.visitrapidcity.com/things-to-do/parks-monuments/jewel-cave#.VUI5T2TBzRY">Jewel Cave National Monument</a> a perfect way to celebrate America’s Best Idea. </span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/fee-free-day-national-park-service-birthday#.VUI5XWTBzRY">Learn more: National Park Service Fee Free Day</a></span><br />
			&nbsp;</div>
	
	
	
	<h1>5 Reasons Rapid City Wins At Summer</h1>
	<p>Summer in Downtown Rapid City is a season-long celebration, with special activities that welcome you to take part in the good times every week.</p>
	
		<div class="ten-single-item">
			<h1>
				<span style="color: inherit; font-size: 30px; line-height: 1.1;">1 - Main Street Square: Movies Under the Stars • Monday Nights</span></h1>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_7.png" />
			<p><span class="ten-copy">From early June to mid-August, every Monday night is movie night at Main Street Square, with family favorites projected on a big screen for a crowd of adoring fans. Whether you show up in costume or just your most comfortable vacation gear, the good times are always burning bright under the night sky. Movies begin around 8:30 p.m.</span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/movies-under-stars-wizard-oz#.VUI6MmTBzRZ">Learn more: Movies Under The Stars</a></span><br />
			&nbsp;</div>
		
		
		<div class="ten-single-item">
		
			<h2>2 -Rapid City Summer Nights & Main Street Square Summer Concert Series • Thursday Nights</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_8.png" />
			<p><span class="ten-copy">Music literally fills the streets of Downtown Rapid City on Thursday nights from late May to mid-September, giving lovers of jazz, big band, country, pop, rock or bluegrass their choice of venues. <a href="http://www.visitrapidcity.com/events/summer-nights-concert-synthetics-0#.VUI6cmTBzRY">Summer Nights</a> is a free weekly celebration featuring a main stage along with food and beverage vendors in a three-block area. At the same time, nearby Main Street Square hosts its <a href="http://www.visitrapidcity.com/events/main-street-square-summer-concert-series-kickoff-abbey-road#.VUI6gmTBzRY">Summer Concert Series</a> on a separate stage, along with a KidZone and popular teen activities. The result is a citywide party vibe that offers diverse musical options and plenty of ways to enjoy the local food and drink culture. </span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/all?idss_vatt_event_start_date_value%5Bmin%5D%5Bdate%5D=2015-05-28&idss_vatt_event_start_date_value%5Bmax%5D%5Bdate%5D=2015-09-24&idss_vatt_event_end_date_value_1%5Bmin%5D%5Bdate%5D=2015-05-28&idss_vatt_event_end_date_value_1%5Bmax%5D%5Bdate%5D=2015-09-24&between_date_filter_start%5Bvalue%5D%5Bdate%5D=2015-05-28&between_date_filter_end%5Bvalue%5D%5Bdate%5D=2015-09-24&keys=concert#.VUI6uWTBzRY">Learn more: Rapid City Summer Nights & Main Street Square Summer Concert Series</a></span><br />
			&nbsp;</div>
		
		
		<div class="ten-single-item">
			<h2>
				3 - Art Night Downtown • Every Second Friday</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_9.png" />
			<p><span class="ten-copy">Become part of the art scene as Rapid City’s <a href="http://www.visitrapidcity.com/things-to-do/arts-culture#.VUI6-WTBzRY">creative culture</a> is celebrated throughout the summer with a surprising interactive experience taking place every second Friday from June through September. From 5:00 to 9:00 p.m., <a href="http://www.visitrapidcity.com/things-to-do/downtown#.VUI7C2TBzRY">Downtown Rapid City</a> becomes a gallery of pop-up happenings, giving visitors a new experience around every corner. Meet artists, browse their work, listen to music, enjoy refreshments and more</span></p>
			<span class="ten-link"><a href="http://www.visitrapidcity.com/events/art-night-downtown-4#.VUI7NGTBzRY">Learn more: Art Night Downtown</a></span><br />
			&nbsp;</div>
		
		
		<div class="ten-single-item">
			<h2>
				4 - Art Alley</h2>
			<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_10.png" />
			<p><span class="ten-copy">In the center of Downtown Rapid City, you can walk from Main Street into a world of pure imagination, stunningly expressed by the local creative community. Especially vibrant under the summer sun, Art Alley, spanning between 6th and 7th Streets, is a public art project of free-form graffiti murals featuring the work of fine and emerging artists with something to say. Feel free to wander any time – you’ll often find it’s home to performances, photo shoots and general open-mindedness.</span></p>
			<a href="http://www.visitrapidcity.com/things-to-do/arts-culture/art-alley#.VUI7XmTBzRY"><span class="ten-link">Learn more: Art Alley</span></a><br />
			&nbsp;</div>
	</div>
	
	
	<div class="ten-single-item">
		<h2>
			5 - City View Trolley</h2>
		<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_11.png" />
		<p><span class="ten-copy">Take a summer tour of Rapid City on the City View Trolley, with 15 stops to some of the area’s favorite attractions. Whether you’re learning about Black Hills paleontology finds at the <a href="http://www.visitrapidcity.com/things-to-do/attractions/journey-museum-learning-center#.VUI7ymTBzRY">Journey Museum & Learning Center</a>, visiting cherished childhood characters at <a href="http://www.visitrapidcity.com/things-to-do/attractions/storybook-island#.VUI70mTBzRY">Storybook Island</a>, discovering picturesque <a href="http://www.visitrapidcity.com/things-to-do/attractions/chapel-hills#.VUI72WTBzRY">Stavkirke Chapel</a> or learning the history of Downtown Rapid City, you’ll be guided to points of interest in style – turn of the 20th century cable car style, that is. </span></p>
		<span class="ten-link"><a href="http://www.visitrapidcity.com/things-to-do/attractions/city-view-trolley#.VUI74WTBzRY">Learn more: City View Trolley</a></span><br />
		&nbsp;</div>
</div>

<h1>4 Year Round Activities That Are Even Better In The Summer</h1>
<p>Mild temperatures and sunny weather makes Rapid City a real haven in the summer months, making some year-round activities even more of a pleasure. With seasonal features that happen only in summer, you’ll see even the most enduring attractions in a new light.</p>

<div class="ten-single-item">
	<h2>1 - Running Through the Fountains at Main Street Square</h2>
	<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_12.png" />
	<p><span class="ten-copy">You don’t have to be a kid to take advantage of the bubbling fountains of Main Street Square, but it helps to think like one. On the edge of the popular lawn and park area, and adjacent to the ongoing work of <A href="http://www.visitrapidcity.com/things-to-do/attractions/sculpture-project-passage-wind-water#.VUI8UGTBzRY">The Sculpture Project: Passage of Wind & Water</a>, the interactive fountains are a constant source of joy for kids of all ages.</span></p>
	<span class="ten-link"><a href="http://www.visitrapidcity.com/things-to-do/attractions/main-street-square#.VUI8V2TBzRY">Learn more: Main Street Square</a></span><br />
	&nbsp;</div>


<div class="ten-single-item">
	<h2>2 - Lighting Ceremony at Mount Rushmore</h2>
	<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_13.png" />
	<p><span class="ten-copy">The familiar faces of Mount Rushmore seem even grander and more imposing the moment they are dramatically lit against the night sky. It happens nightly during an evening program and lighting ceremony at twilight from late May through the end of September, featuring a presentation by a park ranger and video history of Mount Rushmore.</span></p>
	<span class="ten-link"><a href="http://www.visitrapidcity.com/things-to-do/attractions/main-street-square#.VUI8oGTBzRY">Learn more: Mount Rushmore</a></span></div>
<p>&nbsp;</p>




<div class="ten-single-item">
	<h2>3 - Legends In Light® Laser Light Show at Crazy Horse Memorial</h2>
	<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_13.png" />
	<p><span class="ten-copy">From late May through mid-October, you’ll see the future come to life as Legends in Light® is displayed nightly across the massive mountain carving underway at Crazy Horse Memorial. The laser light show and multimedia presentation tells a story of cultural diversity, honors Native Americans and uses animation to envision the finished carving.</span></p>
	<span class="ten-link"><a href="http://www.visitrapidcity.com/events/legends-light%C2%AE-laser-light-show-crazy-horse-memorial#.VUI82GTBzRY">Learn more: Legends In Light® Laser Light Show at Crazy Horse Memorial</a></span></div>
<p>&nbsp;</p>


<div class="ten-single-item">
	<h2>4 - Dining Downtown</h2>
	<img class="img-responsive" src="http://www.visitrapidcity.com/sites/default/files/styles/top_13_spring/images/spring_13.png" />
	<p><span class="ten-copy">Many Rapid City restaurants specialize in outdoor dining, taking full advantage of Downtown Rapid City’s friendly sidewalk atmosphere and mild weather. You’ll find outdoor tables at a number of favorite restaurants, along with menus that are enhanced by the seasonal bounty of fresh ingredients that summer brings. Whether you’re sipping signature cocktails at a rooftop bar or sampling regional favorites in the comfort of an indoor booth, nightlife and dining are always stellar in Rapid City.</span></p>
	<span class="ten-link"><a href="hhttp://www.visitrapidcity.com/dining">Learn more: Dining in Rapid City</a></span></div>
<p>&nbsp;</p>
