table.gallery_list {border: solid 1px #000;}
table.gallery_list h3{margin:0px;}
table.gallery_list tr{border: solid 1px #000; vertical-align:top;}
table.gallery_list th{border: solid 1px #000; font-weight:bold;}
table.gallery_list td{border: solid 1px #000;}

table.gallery_list td input{font-size:11px;}
table.gallery_list td input,textarea{font-size:11px;}
table.gallery_list th{
	background:#B4C1D5;
	text-align:left;	
}

table.gallery_list tr{
	background:#F2F4F8;
}
table.gallery_list tr.alt{
	background:#CFD7E3;
}

.btn{ cursor:pointer; margin-top:2px;margin-left:8px;}

div.youtube_gallery_holder
{
	margin:0px;padding:s0px;
	position:relative;
	width:520px;
	background-image:url('http://www.visitrapidcity.com/_2011/img/ytGallery/gallery_back.jpg');	 
	background-repeat:repeat-y;
	text-align:center;
	overflow:display; 
	z-index:10;
}

div.youtube_gallery_holder .topFramer
{
	margin:0px;padding:0px;
	position:absolute;left:0px; top:0px; 
	
	background-image:url('http://www.visitrapidcity.com/_2011/img/ytGallery/gallery_top.jpg');
	height:120px;width:520px;
	z-index:20;
}
div.youtube_gallery_holder img.bottomFramer
{
	margin:0px;padding:0px;
	position:absolute; bottom:0px;left:0px; 
	z-index:20; 
}

div.youtube_gallery_holder div.youtube_gallery_item_slider
{
	position:relative;
	width:300px; 
	overflow:hidden;
	margin:0;padding:0;
	padding-top:50px;
	padding-bottom:50px;
	padding-right:88px;
	padding-left:88px;
	left:21px; 
	
}
div.unselected
{
	opacity: .5;
	filter:alpha(opacity=50);
}

div.youtube_gallery_holder div.youtube_gallery_items{
	position:relative;	 
	z-index:50;
	background:#ccc;left:0px;
}
div.youtube_gallery_holder div.youtube_gallery_items div.yt_item{
	margin-right:20px;
	float:left;
	width:300px;
}

div.youtube_gallery_holder div.yt_item div.desc {
	padding: 0 10px;
}

img.youtube_gallery_thumb
{
	border: outset 6px #000;margin:8px;
}
div.youtube_gallery_description
{
	width:400px;
	margin:0 auto;
	margin-top:6px;
	padding-bottom:10px;
}
div.youtube_gallery_holder img.youtube_gallery_left
{
	position:absolute;	
	top:30%;left:-4px;
	z-index:100;
}

div.youtube_gallery_holder img.youtube_gallery_holder_right
{
	position:absolute;
	top:30%;right:6px;
	z-index:100;
}
div.ytg_container{ background:#000;}
div.ytgContent_desc{width:640px;text-align:left;background:#000;color:#fff;padding:8px;}
a.ytg_close{}

img.playBtn
{
	position:absolute;top:60px;left:100px;
	opacity: .5;
	filter:alpha(opacity=50);
}
img.playBtn:hover
{
	opacity: .9;
	filter:alpha(opacity=90);
}