/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

#site-name {
	z-index: 100;
	position: relative;
}

.nav-tabs {
  height:30px;
  margin:15px 0px 20px 0;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.nav-tabs li {
  height:40px;
  position:relative;
  background:#eee url(images/bleeds.png) 50% 0px no-repeat;
}

.nav-tabs a {
  float:left;
  text-align:center;
  min-width:70px;
  padding:5px 10px;
  color:#333;
  text-shadow:#fff 0px 1px 0px;
}

.nav-tabs li a:hover { background-color:#f8f8f8; }

.nav-tabs li:first-child {
  border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
  -webkit-border-radius:5px 0px 0px 5px;
  background-position:0% 0px;
}
  
.nav-tabs li:last-child {
  border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  background-position:100% 0px;
}

.nav-tabs li.active a {
  color:#fff;
  background-color:#7bc;
  text-shadow:#38a 0px 1px 0px;
}

.nav-tabs li.active a:hover {
  background-color:#7bc;
}

#block-workbench-block {
	clear: both;
	margin: 12px 0;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.view-listing-categories .views-field {
	width:100%;
	height: 150px;
	background-color: #eeeeee;
	text-align: center;
	margin-bottom: 12px;
	padding: 12px 0;
}

.view-recent-listings {
	padding: 12px 0;
	margin-bottom: 12px;
	border-top: 2px #ddd solid;
	border-bottom: 2px #ddd solid;
}

.view-recent-listings .span4 {
	border: 2px #ddd solid;
	background-color: #eee;
}

.navbar #block-tb-megamenu-main-menu {
	float: left;
}

.region-sidebar-second .block {
	margin: 12px 0;
	border: 1px #ddd solid;
	background-color: #fefefe;
}