/* Component styles */
.googlemini { }

.googlemini .search { }
.googlemini .search form label { display: block; }
.googlemini .search form .button { display: inline; }

.googlemini .results {  }
.googlemini .results .navigation { height: 34px; margin-bottom: 4px; }
.googlemini .results .navigation .next { display: block; width: 60px; text-align: right; float: right; }
.googlemini .results .navigation .previous { display: block; width: 60px; text-align: left; float: left; }
.googlemini .results .navigation .detail { display: block; float: left; clear: left; padding-top: 6px; }
.googlemini .results ol { margin: 0; padding: 0; }
.googlemini .results ol li.result { margin: 0 0 16px 0; padding: 0; list-style: none; }
.googlemini .results ol li.result h3 { margin: 0; padding: 0 0 4px 0; font-size: 12px; }
.googlemini .results ol li.result .snippet { padding: 0 0 4px 0; }
.googlemini .results ol li.result cite { }
.googlemini .results ol li.result .toolbox { display: none; }
