/**
 * Typography
 */

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato_light.woff) format('woff');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato_bold.woff) format('woff');
}
@font-face {
  font-family: 'Lato Black';
  font-style: normal;
  src: local('Lato Black'), local('Lato-Black'), url(../fonts/lato_black.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed Light';
  font-style: normal;
  src: local('Open Sans Condensed Light'), local('OpenSans-CondensedLight'), url(../fonts/OpenSansConLight.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed Bold';
  font-style: normal;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../fonts/OpenSansConBold.woff) format('woff');
}

.lato-bold {
	font-family: 'Lato Bold', sans-serif;
}
.lato-black {
	font-family: 'Lato Black', sans-serif;
}
.open-light {
	font-family: 'Open Sans Condensed Light', sans-serif;
}
.open-bold {
	font-family: 'Open Sans Condensed Bold', sans-serif;
}

::-webkit-input-placeholder { color:#6a6250; }
:-moz-placeholder { color: #6a6250; }
::-moz-placeholder { color: #6a6250; }
:-ms-input-placeholder { color: #6a6250; }

.main-container h1,
.main-container h2 {
	font-family: 'Open Sans Condensed Bold', sans-serif;
	text-transform: uppercase;
}
.main-container h1 {
	font-size: 2.4em;
	color: #000;
}
.main-container h2 {
	font-size: 2em;
}
.main-container h3 {
	font-size: 1.2em;
}
@media (max-width: 1199px) {
	.main-container h1 {
		font-size: 2.2em;
	}
	.main-container h2 {
		font-size: 1.8em;
	}
}
@media (max-width: 991px) {
	.main-container h1 {
		font-size: 2em;
	}
	.main-container h2 {
		font-size: 1.6em;
	}
	.main-container h3 {
		font-size: 1.1em;
	}
}
@media (max-width: 767px) {
	.main-container h1 {
		font-size: 1.8em;
	}
}

.main-container ul,
.main-container ol {
	padding-left: 20px;
}

/**
 * Color Schemes
 */

.masthead {
	background-color: #935a2f;
}
.masthead-extra {
	min-height: 78px;
}
.masthead-strip {
	background: rgb(147, 90, 47); /* fallback */
	background: rgba(147, 90, 47, 0.8);
}
.subbrand-blue .masthead { background-color: #558398; }
.subbrand-blue .masthead-strip .subbrand-blue { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.subbrand-green .masthead { background-color: #5c9880; }
.subbrand-green .masthead-strip { background: rgb(92, 152, 128); /* fallback */ background: rgba(92, 152, 128, 0.8); }
.subbrand-purple .masthead { background-color: #8e4872; }
.subbrand-purple .masthead-strip { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.subbrand-red .masthead { background-color: #9d392d; }
.subbrand-red .masthead-strip { background: rgb(157, 57, 45); /* fallback */ background: rgba(157, 57, 45, 0.8); }
.subbrand-tan .masthead { background-color: #b1a193; }
.subbrand-tan .masthead-strip { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.subbrand-yellow .masthead { background-color: #9f8535; }
.subbrand-yellow .masthead-strip { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }

.logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_red.png');
}
.brand-blue .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_blue.png');
}
.brand-green .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_green.png');
}
.brand-purple .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_purple.png');
}
.brand-yellow .logo {
	background-image: url('/sites/all/themes/rapidcity/images/rapidcity_logo_yellow.png');
}


/**
 * Layout
 */

.region-sidebar-first {
	padding: 20px 0;
}

.region-sidebar-first .block {
	margin-bottom: 20px;
}

#navbar {
	background: transparent url('/sites/all/themes/rapidcity/images/header_bg.png') top center repeat-x;
	height: 64px;
	margin-top: -50px;
	width: 100%;
	position: fixed;
	z-index: 30 !important;
}
.navbar-container {
	padding-left: 0;
	padding-right: 0;
}
.navbar-left {
	background-color: #548599;
	min-height: 50px;
	width: 62%;
	position: relative;
}
.navbar-right {
	background-color: #b2a294;
	min-height: 50px;
	width: 38%;
	position: relative;
}
.head-social-icons {
	float: right;
	display: none;
}
.quicklinks {
	float: left;
}
.signin {
	float: left;
	margin-left: 10px;
	padding: 3px 0;
	font-family: "Helvetica", sans-serif !important;
	font-size: 0.7em;
}
.signin a {
	color: #0c212a;
	text-decoration: none;
}
.signin a:hover {
	color: #000;
}
.booknow {
	float: left;
	clear: left;
	margin-left: 10px;
	padding: 5px 0 3px 0;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
}
.booknow a {
	color: #5e4c3b;
	text-decoration: none;
}
.booknow a:hover {
	color: #34271b;
}
.logo {
	position: absolute;
	top: 0;
	right: 100px;
	width: 87px;
	height: 94px;
	text-indent: -9995px;
	margin: 0 !important;
	z-index: 1;
}
.region-search {
	float: right;
	margin-top: 10px;
}
.region-search .form-search {
	width: 95px;
}
.region-search .form-text {
	padding: 3px 8px;
	color: #000;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	border-radius: 0;
	border: none;
	border-top: 1px #758e9c solid;
	border-left: 1px #758e9c solid;
	border-bottom: 1px #758e9c solid;
}
input[type="text"] {color:black}
input[type="text"]:focus {color:purple}

.region-search .btn {
	padding: 6px 4px;
	margin: 0 !important;
	color: #c1c1c1 !important;
	border-radius: 0;
	border: none;
	border-top: 1px #758e9c solid;
	border-right: 1px #758e9c solid;
	border-bottom: 1px #758e9c solid;
}
@media (max-width: 767px) {
	#navbar {
		background-position: top left;
		/*position: relative;*/
	}
	.navbar-left {
		background-color: transparent;
		width: 100%;
		position: absolute;
		top: 0;
	}
	.navbar-right {
		background-color: transparent;
		width: 100%;
		position: absolute;
		top: 0;
	}
	.quicklinks,
	.region-search {
		display: none;
	}
	.logo {
		right: 45%;
	}
}
@media (min-width: 992px) {
	.head-social-icons {
		display: block;
		margin-right: 4px;
	}
	.logo {
		right: 160px;
	}
	.region-search .form-search {
		width: 145px;
	}
}
@media (min-width: 1200px) {
	.head-social-icons {
		margin-right: 20px;
	}
	.logo {
		right: 220px;
	}
	.region-search .form-search {
		width: 195px;
	}
}
.nav-collapse.collapse.in {
	/*height: auto !important;*/
}


.masthead {
	margin-top: 50px;
	min-height: 80px;
}
.region-masthead {
	position: relative;
}
.admin-menu .masthead {
	margin-top: 78px;
}
.masthead-strip {
	background: rgb(148, 91, 47); /* fallback */
	background: rgba(148, 91, 47, 0.8);
	z-index: 1;
	position: relative;
	margin-top: -76px;
	height: 76px;
}
@media (max-width: 767px) {
	.masthead-strip {
		margin-top: 0;
		padding-top: 34px;
		height: 110px;
		height: auto;
	}
	.views-field-field-masthead-image {
		display: none;
	}
}
.breadcrumb {
	background-color: transparent !important;
	padding: 8px 15px 2px 15px;
	margin-bottom: 0;
	font-size: 0.9em;
}
.breadcrumb a {
	color: #fff; /* fallback */
	color: rgba(255,255,255,0.6);
}
.breadcrumb a:hover {
	color: #ccc; /* fallback */
	color: rgba(200,200,200,0.7);
}
.page-header {
	color: #fff;
	margin: 0;
	padding: 0 15px;
	border: 0;
	font-family: "Open Sans Condensed Bold", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}
.views-exposed-form {
	z-index: 2;
	position: absolute;
	bottom: 0;
	right: 0;
}
@media (max-width: 767px) {
	.views-exposed-form {
		position: relative;
		margin-top: 34px;
		margin-left: 10px;
	}
	.page-header {
		font-size: 2em;
	}
}

.top-buffer {
	margin-top: 20px;
}

#block-system-main {
	padding-bottom: 20px;
}



.footer {
	background-color: #548599;
	background-image: url('/sites/all/themes/rapidcity/images/footer_ds.jpg');
	background-repeat: repeat-x;
	z-index: 1 !important;
	position: relative;
	text-align: center;
	color: #fff;
	padding-bottom: 30px;
	margin: 0;
	border: 0;
}
.footer a {
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	color: #b9ced7;
	text-decoration: underline;
}
.footer .foot-social-icons {
	padding-bottom: 10px;
}
.footer .foot-social-icon {
	width: 40px;
	height: 28px;
	padding: 0 6px;
}
.languages {
	padding-bottom: 10px;
}
.footer .foot-logos {
	padding-bottom: 30px;
}
.footer .foot-logo {
	padding: 0 20px;
}
.footer-fixed {
	width: 100%;
	height: 45px;
	background-color: #000000;
	position: fixed;
	bottom: 0;
	z-index: 40;
}
.footer-fixed .foothill-left {
	background: transparent url(../images/foothills-left.png) top left no-repeat;
	width: 190px;
	height: 65px;
	margin-top: -65px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
}
.footer-fixed .foothill-right {
	background: transparent url(../images/foothills-right.png) top right no-repeat;
	width: 207px;
	height: 65px;
	margin-top: -65px;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}
.footer-fixed .footer-fixed-content {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
}
.footer-fixed .footer-fixed-content section {
	display: block;
	float: left;
}
.footer-fixed .fixed-footer-link {
	display: inline;
	padding: 0 20px 0 60px;
	font-family: 'Lato Bold', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
}
@media (max-width: 768px) {
	.footer-fixed .footer-fixed-content {
		width: 310px;
	}
	.footer-fixed .fixed-footer-link {
		padding: 0 0px 0 10px;
		font-size: 0.8em;
	}
}
.footer-fixed .fixed-footer-link a {
	text-decoration: none;
	color: #ffffff;
}
.footer-fixed .fixed-footer-link a:hover {
	color: #eeeeee;
}


/**
 * Sections
 */


.main-container {
	margin: 16px auto 0 auto;
}
.dropdown-book {
	width: 100%;
	background-color: #b2a294;
	box-shadow: 0 0 20px #000;
	position: fixed;
	top: 50px;
	left: 0;
	color: #fff;
	z-index: 20;
	display: none;
}
.bookvis {
	overflow: visible !important;
}
.admin-menu .dropdown-book {
	top: 78px;
}
#jrs_calendar_form {
	width: 700px !important;
	background-image: url('/sites/all/themes/rapidcity/images/book_room.jpg') !important;
}
.date-pick {
	padding: 4px 3px !important;
	height: 38px !important;
}
#jrs_arrival_input {
	left: 150px !important;
	width: 90px !important;
}
#jrs_departure_input {
	left: 246px !important;
	width: 90px !important;
}
#jrs_lodging_select_div {
	left: 343px !important;
	width: 110px !important;
}
#jrs_search_submit {
	right: none !important;
	left: 460px !important;
}
@media (max-width: 767px) {
	.dropdown-book {
		opacity: 0;
	}
}
@media (min-width: 992px) {
	#jrs_calendar_form {
		width: 900px !important;
		background-position: 80px 0;
	}
	#jrs_arrival_input {
		left: 230px !important;
		width: 100px !important;
	}
	#jrs_departure_input {
		left: 336px !important;
		width: 100px !important;
	}
	#jrs_lodging_select_div {
		left: 443px !important;
		width: 140px !important;
	}
	#jrs_search_submit {
		right: none !important;
		left: 600px !important;
	}
}
@media (min-width: 1200px) {
	#jrs_calendar_form {
		width: 1100px !important;
		background-position: 170px 0;
	}
	#jrs_arrival_input {
		left: 330px !important;
		width: 100px !important;
	}
	#jrs_departure_input {
		left: 446px !important;
		width: 100px !important;
	}
	#jrs_lodging_select_div {
		left: 563px !important;
		width: 180px !important;
	}
	#jrs_search_submit {
		right: none !important;
		left: 765px !important;
	}
}



.callout {
	background: #77ac97 url('/sites/all/themes/rapidcity/images/callout_bg.jpg') top center no-repeat;
	box-shadow: 0 0 10px #888888;
	width: 100%;
	padding-bottom: 20px;
}
.callout h1 {
	color: #fff;
	font-size: 1.6em;
	text-transform: uppercase;
	text-align: center;
}
@media (max-width: 767px) {
	callout h1 {
		font-size: 1.2em;
	}
}
.callout .bigthings {
	margin: 10px 0;
}
@media (max-width: 767px) {
	.callout .bigthings {
		margin: 0;
	}
}
.callout .bigthings img {
	border: 8px solid #fff;
	margin: 10px;
	box-shadow: 0 0 10px #888888;
}
.home-explore-map {
	background-color: #42413e;
}
.like-a-local {
}
.like-a-local h2 {
	color: #9f8536;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
}
.like-a-local .ranger-title {
	margin: 15px auto 5px auto;
}
.like-a-local .local-info {
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	padding: 6px;
}
.like-a-local .local-info h3 {
	font-size: 1.4em;
	margin: 0;
}
.like-a-local .local-info span {
}
.like-a-local .local-pos {
	position: relative;
}
.like-a-local .local-hover {
	font-size: 0.9em;
	padding: 0 10%;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.like-a-local .local-hover a {
	color: #fff;
}
@media (max-width:767px) {
	.like-a-local {
		font-size: 0.7em;
	}
	.like-a-local .local-block {
		margin: 10px 0;
	}
	.local-info {
		float: right;
		width: 50%;
	}
	.local-pos {
		width: 50%;
	}
	.local-hover {
		display: none;
	}
}
@media (max-width:480px) {
	.like-a-local {
		font-size: 0.5em;
	}
}

.download-guide {
	margin: 24px auto;
	text-align: center;
}
.download-guide a {
	color: #fff;
	text-transform: uppercase;
	background-color: #8e3322;
	font-size: 1.4em;
	padding: 4px 8px;
	box-shadow: 0 0 10px #888888;
}
.download-guide a:hover {
	background-color: #b7513e;
	text-decoration: none;
}


.more-big-things,
.big-praise {
	text-align: center;
	padding: 20px 0;
	max-width: 900px;
}
.tag-your-adventures {
	text-align: center;
}
.tag-your-adventures img {
	margin: 0 auto;
}
.view-more-big-things h1,
.big-praise h1 {
	margin: 0 auto;
	display: inline-block;
}
.view-more-big-things h2,
.big-praise h2 {
	font-family: 'Lato Bold', sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
	margin: 0 0 12px 0;
}
.attachment,
.view-more-things,
.praise-testimonials {
	margin: 0 auto;
	max-width: 680px;
	clear: both;
}
.view-more-things {
	padding: 10px 0;
}
.attachment .view-more-big-things,
.view-more-things .view-more-btn,
.praise-testimonials .praise-box {
	display: block;
	text-align: center;
	float: left;
	width: 33.3%;
	padding: 0 20px;
}
.attachment .view-more-big-things h3 {
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.6em;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.attachment .view-more-big-things a {
	/*font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;*/
	color: #fff;
}
.attachment .view-more-big-things a:hover {
	color: #fff;
}
.line-bottom {
	padding-bottom: 4px;
	border-bottom: 1px solid #fff;
}


.view-listing-categories .cat-row {
	display: inline;
	position: relative;
	min-height: 1px;
	width: 25%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
	padding: 0 15px;
	height: auto;
}
.view-listing-categories .row-2,
.view-listing-categories .row-3 {
	clear: both;
}
.view-listing-categories .cat-row .col-first {
	clear: both;
}
.view-listing-categories .cat-row .views-field-name {
	padding: 0 15px;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.view-listing-categories .cat-row .views-field-name span {
	display: block;
	width: 100%;
	height: 100%;
}
.view-listing-categories .cat-row .views-field-name a {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	display: block;
	width: 100%;
	padding: 20px 0;
	background: rgb(93, 153, 129); /* fallback */
	background: rgba(93, 153, 129, 0.8);
}
.view-listing-categories .row-1 .col-1 .views-field-name a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.view-listing-categories .row-1 .col-2 .views-field-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-listing-categories .row-1 .col-3 .views-field-name a { background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8); }
.view-listing-categories .row-1 .col-4 .views-field-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-listing-categories .row-1 .col-5 .views-field-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-listing-categories .row-2 .col-1 .views-field-name a { background: rgb(157, 57, 45); /* fallback */ background: rgba(157, 57, 45, 0.8); }
.view-listing-categories .row-2 .col-2 .views-field-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-listing-categories .row-2 .col-3 .views-field-name a { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }
.view-listing-categories .row-2 .col-4 .views-field-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-listing-categories .row-2 .col-5 .views-field-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-listing-categories .row-3 .col-1 .views-field-name a { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.view-listing-categories .row-3 .col-2 .views-field-name a { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.view-listing-categories .row-3 .col-3 .views-field-name a { background: rgb(147, 90, 47); /* fallback */ background: rgba(147, 90, 47, 0.8); }
.view-listing-categories .row-3 .col-4 .views-field-name a { background: rgb(177, 161, 147); /* fallback */ background: rgba(177, 161, 147, 0.8); }
.view-listing-categories .row-3 .col-5 .views-field-name a { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.view-listing-categories .cat-row:hover .views-field-name span a {
	background: rgba(93, 153, 129, 1);
	text-decoration: none;
}
.view-listing-categories .row-1 .col-1:hover .views-field-name a { background: rgba(93, 153, 129, 1); }
.view-listing-categories .row-1 .col-2:hover .views-field-name a { background: rgba(85, 131, 152, 1); }
.view-listing-categories .row-1 .col-3:hover .views-field-name a { background: rgba(147, 90, 47, 1); }
.view-listing-categories .row-1 .col-4:hover .views-field-name a { background: rgba(177, 161, 147, 1); }
.view-listing-categories .row-1 .col-5:hover .views-field-name a { background: rgba(142, 72, 114, 1); }
.view-listing-categories .row-2 .col-1:hover .views-field-name a { background: rgba(157, 57, 45, 1); }
.view-listing-categories .row-2 .col-2:hover .views-field-name a { background: rgba(142, 72, 114, 1); }
.view-listing-categories .row-2 .col-3:hover .views-field-name a { background: rgba(159, 133, 53, 1); }
.view-listing-categories .row-2 .col-4:hover .views-field-name a { background: rgba(177, 161, 147, 1); }
.view-listing-categories .row-2 .col-5:hover .views-field-name a { background: rgba(85, 131, 152, 1); }
.view-listing-categories .row-3 .col-1:hover .views-field-name a { background: rgba(93, 153, 129, 1); }
.view-listing-categories .row-3 .col-2:hover .views-field-name a { background: rgba(85, 131, 152, 1); }
.view-listing-categories .row-3 .col-3:hover .views-field-name a { background: rgba(147, 90, 47, 1); }
.view-listing-categories .row-3 .col-4:hover .views-field-name a { background: rgba(177, 161, 147, 1); }
.view-listing-categories .row-3 .col-5:hover .views-field-name a { background: rgba(142, 72, 114, 1); }

.view-listing-categories .cat-row .views-field-field-cat-image a {
	display: block;
	width: 100%;
	height: 100%;
}
.view-listing-categories .cat-row .views-field-field-cat-image img {
	max-width: 100%;
	height: auto;
}
.view-listing-categories .row-1 .col-1,
.view-listing-categories .row-2 .col-3 {
	width: 50%;
}
.view-listing-categories .row-2 .col-2 {
	clear: left;
}
.view-listing-categories .row-2 .col-3,
.view-listing-categories .row-2 .col-4 {
	margin-top: -180px;
}
@media(max-width:767px){
	.view-listing-categories .cat-row {
		width: 50%;
		margin-bottom: 10px;
		padding: 0 5px;
	}
	.view-listing-categories .row-1 .col-1,
	.view-listing-categories .row-2 .col-3 {
		width: 100%;
	}
	.view-listing-categories .cat-row .views-field-name {
		padding: 0 5px;
	}
	.view-listing-categories .row-2 .col-2 {
		clear: none;
	}
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4 {
		margin-top: 0px;
	}
}
@media(min-width:992px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4 {
		margin-top: -235px;
	}
	.view-listing-categories .cat-row .views-field-name a {
		font-size: 1.5em;
	}
}
@media(min-width:1200px){
	.view-listing-categories .row-2 .col-3,
	.view-listing-categories .row-2 .col-4 {
		margin-top: -285px;
	}
	.view-listing-categories .cat-row .views-field-name a {
		font-size: 1.7em;
	}
}


.promo-boxes .cat-row {
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	height: auto;
}
.promo-boxes .col-1,
.promo-boxes .col-6 {
	clear: both;
}
.promo-boxes .col-2,
.promo-boxes .col-4 {
	width: 45%;
	margin-right: 8%;
	display: inline-block;
}
.promo-boxes .col-3,
.promo-boxes .col-5 {
	width: 45%;
	display: inline-block;
}
.promo-boxes .cat-row .promo-name {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.promo-boxes .cat-row .promo-name span {
	display: block;
	width: 100%;
	height: 100%;
}
.promo-boxes .cat-row .promo-name a {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	display: block;
	width: 100%;
	padding: 20px 0;
	background: rgb(93, 153, 129); /* fallback */
	background: rgba(93, 153, 129, 0.8);
}

.promo-boxes .cat-row:hover .promo-name span a {
	background: rgba(93, 153, 129, 1);
	text-decoration: none;
}
.promo-boxes .cat-row .promo-image a {
	display: block;
	width: 100%;
	height: 100%;
}
.promo-boxes .cat-row .promo-image img {
	max-width: 100%;
	height: auto;
}

.stay-informed {
	color: #fff;
	font-size: 0.8em;
	background-color: #8e3322;
	padding: 6px;
}
.stay-informed input[type=text] {
	width: 100%;
	color: #ddd;
	text-style: italic;
	font-size: 14px;
	padding: 2px;
	height: 26px;
}
.stay-informed input[type=submit] {
	background : url("/sites/all/themes/rapidcity/images/block_submit.jpg") no-repeat top center;
	width: 80px;
	height: 26px;
	border: none;
	color: transparent;
}



/**
 * Nodes
 */


.listing-page {}
	
.listing-teaser {
	padding: 20px 0;
	border-top: 2px dotted #5f5f5f;
}
.listing-teaser h2 {
	margin-top: 0;
}
.listing-teaser h2 a {
	color: #5f5f5f;
}
.listing-teaser p {
	line-height: 1.2em;
	margin-bottom: 0;
}
.listing-teaser-image {
	padding-bottom: 6px;
}
.listing-teaser-extras {
	text-align: right;
}
.listing-teaser .readmore {
	font-weight: bold;
}
.listing-teaser-extras .listing-teaser-links,
.listing-teaser-extras .addthis_toolbox {
	float: right;
	clear: both;
	width: 84px;
}
.map-teaser {
	width: 100%;
	height: 150px;
}
@media(max-width:1199px){
	.map-teaser {
		height: 120px;
	}
}
@media(max-width:991px){
	.map-teaser {
		height: 100px;
	}
}


/* Photos Page */
.view-photos-page ul {
	padding: 10px 0;
	list-style: none;
}
.view-photos-page ul li {
	float: left;
}
.view-photos-page .views-field-field-photo img {
	max-width: 100%;
	height: auto;
}
.view-photos-page .views-row {
	width: 100%;
	margin: 10px 0;
}
.view-photos-page .views-row-1,
.view-photos-page .views-row-4 {
	width: 100%;
	clear: both;
}
.view-photos-page .views-row-2,
.view-photos-page .views-row-5 {
	float: left;
	padding-right: 10px;
	width: 50%;
}
.view-photos-page .views-row-3,
.view-photos-page .views-row-6 {
	float: right;
	padding-left: 10px;
	width: 50%;
}
.view-photos-page .pager {
	display: none;
}
@media(max-width:767px){
	.view-photos-page .views-row-2,
	.view-photos-page .views-row-5,
	.view-photos-page .views-row-3,
	.view-photos-page .views-row-6 {
		float: none;
		padding: 0;
		width: 100%;
	}
}
.slide-gallery-photo {
	position: relative;
	overflow: hidden;
}
.slide-gallery-desc {
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: 10px 20px 40px 20px;
	background-color: rgba(0,0,0,0.5);
}
.slide-gallery-desc h1 {
	color: #fff;
	margin-bottom: 2px;
}
.slide-gallery-share {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 84px;
}


/* Feature Box */
.featbox .featbox-name {
	padding: 0 15px;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.featbox .featbox-name span {
	color: #fff;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4em;
	display: block;
	width: 100%;
	padding: 20px 0;
}
.featbox .featbox-name span a {
	color: #fff;
}
.brand-blue .featbox .featbox-name span { background: rgb(85, 131, 152); /* fallback */ background: rgba(85, 131, 152, 0.8); }
.brand-green .featbox .featbox-name span { background: rgb(93, 153, 129); /* fallback */ background: rgba(93, 153, 129, 0.8); }
.brand-purple .featbox .featbox-name span { background: rgb(142, 72, 114); /* fallback */ background: rgba(142, 72, 114, 0.8); }
.brand-yellow .featbox .featbox-name span { background: rgb(159, 133, 53); /* fallback */ background: rgba(159, 133, 53, 0.8); }
.brand-blue .featbox:hover .featbox-name span { background: rgba(85, 131, 152, 1); }
.brand-green .featbox:hover .featbox-name span { background: rgba(93, 153, 129, 1); }
.brand-purple .featbox:hover .featbox-name span { background: rgba(142, 72, 114, 1); }
.brand-yellow .featbox:hover .featbox-name span { background: rgba(159, 133, 53, 1); }
.featbox .featbox-image a {
	display: block;
	width: 100%;
	height: 100%;
}
.featbox .featbox-image img {
	max-width: 100%;
	height: auto;
}
@media(max-width:1199px){
	.featbox .featbox-name span {
		font-size: 1.2em;
	}
}
@media(max-width:991px){
	.featbox .featbox-name span {
		font-size: 1em;
	}
}

.btn-box {
	padding: 12px;
	color: #fff;
	width: 100%;
	max-width: 366px;
	margin-bottom: 14px;
	font-size: 1.6em;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	border-radius: 0;
	text-align: center;
}


.brand-blue .btn-box { background-color: #548599; }
.brand-green .btn-box { background-color: #5C9880; }
.brand-purple .btn-box { background-color: #8E4872; }
.brand-yellow .btn-box { background-color: #9F8535; }
@media(max-width:1199px){
	.btn-box {
		font-size: 1.4em;
		padding: 10px 12px;
	}
}
@media(max-width:991px){
	.btn-box {
		font-size: 1.2em;
		padding: 8px 12px;
	}
}

.btn-news {
	width: 80px;
	height: 30px;
	font-size: 1.2em;
	color: #fff;
	margin-bottom: 7px;
	font-family: 'Lato Light', sans-serif;
	text-transform: uppercase;
	border-radius: 0;
	text-align: center;
}

.brand-blue .btn-news { background-color: #548599; }
.brand-green .btn-news { background-color: #5C9880; }
.brand-purple .btn-news { background-color: #8E4872; }
.brand-yellow .btn-news { background-color: #9F8535; }

.centered-content {
	text-align: center;
}

.block-indent {
	list-style: none;
}



.slab-block {
	text-align: center;
}

.slab-blue {
	height: auto;
	background: #548599 url('/sites/all/themes/rapidcity/images/bg_blue.jpg') top center no-repeat;
}
.slab-green {
	height: auto;
	background: #5d9981 url('/sites/all/themes/rapidcity/images/bg_green.jpg') top center no-repeat;
}
.slab-purple {
	height: auto;
	background: #9e4778 url('/sites/all/themes/rapidcity/images/bg_purple.jpg') top center no-repeat;
}
.slab-red {
	height: auto;
	background: #9e392d url('/sites/all/themes/rapidcity/images/bg_red.jpg') top center no-repeat;
}
.slab-tan {
	height: auto;
	background: #b2a294 url('/sites/all/themes/rapidcity/images/bg_tan.jpg') top center no-repeat;
}
.slab-yellow {
	height: auto;
	background: #9f8536 url('/sites/all/themes/rapidcity/images/bg_yellow.jpg') top center no-repeat;
}

/**
 * Homepage Jumbotron
 */

.jumbotron-container {
	padding: 0;
}
.front .masthead {
	background: #d7d7d7 url('/sites/all/themes/rapidcity/images/bg_stone.jpg') top center repeat;
    min-height: 100%;
	width: 100%;
	height: auto;
}
.slide .views-field-field-homepage-slide-image img {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}
.slide .views-field-title {
	font-size: 3.4em;
	color: #fff;
	font-family: 'Open Sans Condensed Bold', sans-serif;
	text-transform: uppercase;
	position: absolute;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	line-height: 1em;
	padding-right: 12px;
	bottom: 22%;
	left: 10%;
	text-shadow: 0 0 5px #000000;
}
.slide .views-field-field-subtitle {
	font-size: 1.6em;
	color: #fff;
	position: absolute;
	bottom: 15%;
	left: 10%;
	text-shadow: 0 0 3px #000000;
}
@media (max-width: 767px) {
	.slide .views-field-title {
		font-size: 2.2em;
		padding-bottom: 2px;
	}
	.slide .views-field-field-subtitle {
		font-size: 1em;
		bottom: 10%;
	}
}
.carousel-control {
	font-size: 16em;
	font-family: "Open Sans Condensed Light", sans-serif;
}
.carousel-control.right,
.carousel-control.left {
	background: none;
}
.carousel-indicators {
	display: none;
}
.carousel-inner {
	max-height: 100%;
	overflow: hidden;
}
/*.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}*/

@media(min-width:768px){
	.slide .views-field-field-homepage-slide-image {
		text-align: center;
	}
	.slide .views-field-field-homepage-slide-image img {
		width: 680px;
	}
	.slide .views-field-field-homepage-slide-image {
		height: 384px;
	}
}
@media(min-width:992px){
	.slide .views-field-field-homepage-slide-image img {
		width: 882px;
	}
	.slide .views-field-field-homepage-slide-image {
		height: 501px;
	}
}
@media(min-width:1200px){
	.slide .views-field-field-homepage-slide-image img {
		width: 1054px;
	}
	.slide .views-field-field-homepage-slide-image {
		height: 608px;
	}
}




.nav-tabs {
  height:30px;
  margin:15px 0px 20px 0;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.nav-tabs li {
  height:40px;
  position:relative;
  background:#eee url(images/bleeds.png) 50% 0px no-repeat;
}

.nav-tabs a {
  float:left;
  text-align:center;
  min-width:70px;
  padding:5px 10px;
  color:#333;
  text-shadow:#fff 0px 1px 0px;
}

.nav-tabs li a:hover { background-color:#f8f8f8; }

.nav-tabs li:first-child {
  border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
  -webkit-border-radius:5px 0px 0px 5px;
  background-position:0% 0px;
}
  
.nav-tabs li:last-child {
  border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  background-position:100% 0px;
}

.nav-tabs li.active a {
  color:#fff;
  background-color:#7bc;
  text-shadow:#38a 0px 1px 0px;
}

.nav-tabs li.active a:hover {
  background-color:#7bc;
}




/**
 * Forms
 */


.search-advanced {
	display: none;
}
.search-form {
	max-width: 400px;
}
.search-form .form-wrapper {
	margin-top: 20px;
}
.search-form .form-text {
	padding: 3px 8px;
	color: #000;
	font-family: "Open Sans Condensed Light", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	border-radius: 0;
	border: 1px #758e9c solid;
}
.search-form .btn {
	margin: 0 0 0 16px !important;
	color: #fff !important;
	border-radius: 0;
	border: none;
	width: 89px;
	height: 34px;
	background-color: #8e3322;
	background-image: url('/sites/all/themes/rapidcity/images/form_submit.jpg');
}
.search-form .btn .glyphicon {
	display: none;
}
.search-results {
	padding-left: 0;
}
.search-results h2 {
	margin-bottom: 2px;
	font-size: 1.6em;
}
.search-results h2 a {
	color: #333;
	text-decoration: underline;
}
.search-results h2 a:hover {
	text-decoration: none;
}
.search-results p a {
	color: #945b2f;
}


.masthead .views-exposed-form label {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 1.4em;
	margin-bottom: 0;
}
.masthead .form-control {
	border: 1px solid #5f5f5f;
	border-radius: 0;
	font-size: 0.9em;
	height: 32px;
	padding: 4px 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: none;
}
.masthead select,
.masthead input {
	max-width: 200px;
}
.masthead .form-submit {
	background-color: #8e3322;
	border-color: #7c261c;
	height: 32px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 1.2em;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	margin-top: 28px;
	padding: 3px 12px;
}
@media(max-width:991px) {
	.masthead select,
	.masthead input {
		max-width: 180px;
	}
}
@media(max-width:767px) {
	.masthead select,
	.masthead input {
		max-width: 120px;
	}
}











#block-workbench-block {
	clear: both;
	margin: 12px 0;
}

.views-field-field-masthead-image img {
	max-width: 100%;
	height: auto;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.view-recent-listings {
	padding: 12px 0;
	margin-bottom: 12px;
	border-top: 2px #ddd solid;
	border-bottom: 2px #ddd solid;
}

.view-recent-listings .span4 {
	border: 2px #ddd solid;
	background-color: #eee;
}

.navbar #block-tb-megamenu-main-menu {
	float: left;
}

.region-sidebar-second .block {
	margin: 12px 0;
	border: 1px #ddd solid;
	background-color: #fefefe;
}



.field-type-image img { /* image fields default to responsive */
	display: block;
	height: auto;
	max-width: 100%;
}

.taxboxbig div,
.taxboxsmall div {
	background-color: #00ff00;
	margin-bottom: 20px;
}
.taxboxbig div {
	height: 220px;
}
.taxboxbig div {
	height: 100px;
}


.rcblue {
	background-color: #548599;
}
.rcpurple {
	background-color: #8e4873;
}
.rcgreen {
	background-color: #5d9981;
}
.rcyellow {
	background-color: #9f8536;
}
.text-white {
	color: #fff;
}
.text-green {
	color: #173b2d;
}
.text-purple {
	color: #442137;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/**
 * Homepage Photo Carousel
 */

.home-photos section {
	width: 100%;
    position: relative;
	overflow: hidden;
}

.jcarousel-wrapper {
    margin: 40px auto;
	padding: 40px;
    position: relative;
	overflow: hidden;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 200%;
	margin-left: -55%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 400px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0 25px;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    -webkit-box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
	width: 100%;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 45%;
    margin-top: -15px;
    width: 40px;
    height: 60px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 8em;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
	text-decoration: none;
	color: #ddd;
}

.jcarousel-control-prev {
    left: 20%;
}

.jcarousel-control-next {
    right: 20%;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}



/*____________Listing_Detail__________*/

.listing-image {
}
.field-section,
.desc-section {
	padding: 10px 0;
}


/*___________End_Listing_Detail_______*/


/*__________________________________*/


.ui-datepicker-trigger {
    border: medium none !important;
    display: inline !important;
    right: 24px;
    top: -1px !important;
    position: relative;
    vertical-align: middle;
}

#views-exposed-form-near-you-page .views-exposed-form {
	position: relative;
}
#views-exposed-form-near-you-page .views-exposed-form .form-type-select {
	max-width: 250px;
}
.page-near-me .view .views-row {
	margin: 16px 0;
}
.page-near-me .view .views-field-title {
    font-family: 'Open Sans Condensed Light', sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
}
.page-near-me .view .views-field-distance {
	font-size: 0.8em;
}

@media (min-width:768px){
	.mobile-only {
		display: none !important;
	}
}

/*___________________________________top_10__________________________*/


.top_10_wrapper ul{
	list-style: none;
}

.top_10_wrapper img{
	margin-bottom: 15px;
}

.btn-side {
background: url("/sites/all/themes/rapidcity/images/block_submit.jpg") no-repeat top center;
width: 80px;
height: 26px;
border: none;
color: transparent;

}
